<template>
  <div class="export-buttons-container">
    <div v-if="pendingQuestion.questionType != 'Open'" class="export-buttons-column">
      <el-button @click="exportChartAsPDF" size="medium" icon="el-icon-download">
        Als PDF exportierten
      </el-button>
      <el-button @click="exportChartAsPNG" size="medium" icon="el-icon-download">
        Als PNG exportieren
      </el-button>
    </div>

    <div v-else class="export-buttons-column">
      <el-button
        @click="exportCloudAsPDF"
        size="medium"
        :icon="wordcloudStore.wordcloudPDFLoading ? 'el-icon-loading' : 'el-icon-download'"
      >
        Als PDF exportierten
      </el-button>
      <el-button @click="exportCloudAsSVG" size="medium" icon="el-icon-download">
        Als SVG exportierten
      </el-button>
    </div>

    <ExportButtonsText :userAnswerCollection="userAnswerCollection" :labels="labels" />
  </div>
</template>

<script>
import { mapStores } from "pinia"
import { useWordcloudStore } from "@/stores/wordcloud"

import { wordcloudToPDF, wordcloudToSVG, chartToPDF, chartToPNG } from "@/utils/charts"

import ExportButtonsText from "@/components/ExportButtons/ExportButtonsText"

export default {
  name: "ExportButtons",
  props: ["userAnswerCollection", "labels"],
  components: { ExportButtonsText },
  data() {
    return {}
  },
  computed: {
    ...mapStores(useWordcloudStore),

    pendingQuestion() {
      return this.userAnswerCollection.question
    },
    chartTitle() {
      return `${this.pendingQuestion.questionPosition} ${this.pendingQuestion.questionText}`
    },
  },
  methods: {
    exportChartAsPDF() {
      let positionDict = {
        Single: [25, 100],
        Multiple: [25, 100],
        YesOrNo: [200, 110],
        Range: [90, 120],
      }
      chartToPDF(
        this.pendingQuestion.questionType,
        ...positionDict[this.pendingQuestion.questionType],
        this.chartTitle
      )
    },
    exportChartAsPNG() {
      chartToPNG(this.pendingQuestion.questionType, this.chartTitle)
    },
    exportCloudAsPDF() {
      this.wordcloudStore.wordcloudPDFLoading = true
      setTimeout(() => {
        wordcloudToPDF("wordCloud", 0, 100, this.chartTitle)
        this.wordcloudStore.wordcloudPDFLoading = false
      }, 100)
    },
    exportCloudAsSVG() {
      wordcloudToSVG("wordCloud", this.chartTitle)
    },
  },
}
</script>

<style lang="scss" scoped>
.export-buttons-container {
  margin-top: 1rem;
  display: flex;

  .export-buttons-column {
    display: flex;
    margin-right: 10px;
  }
}
</style>
