<template>
  <div class="export-to-text-btn-container">
    <el-button
      @click="exportAsText('csv')"
      size="medium"
      :icon="convertingFormat == 'csv' ? 'el-icon-loading' : 'el-icon-download'"
    >
      Als CSV exportieren</el-button
    >
    <el-button
      @click="exportAsText('plain')"
      size="medium"
      :icon="convertingFormat == 'plain' ? 'el-icon-loading' : 'el-icon-download'"
      >Als TXT exportieren</el-button
    >
  </div>
</template>

<script>
import { userAnswersToText } from "@/utils/csv-converter"
import { getAnalyticsUserAnswersByQuestion } from "@/utils/analytics-query"

export default {
  name: "ExportButtons",
  props: ["userAnswerCollection", "labels"],
  data() {
    return {
      convertingFormat: "",
    }
  },
  methods: {
    exportAsText(format) {
      this.convertingFormat = format

      let question = this.userAnswerCollection.question

      if (question.questionType == "Open") {
        let preparedData = this.prepareUserAnswersOpen(this.userAnswerCollection)
        this.toText(format, preparedData, question.questionText)
      } else {
        getAnalyticsUserAnswersByQuestion(this.userAnswerCollection).then((data) => {
          let preparedData = this[`prepareUserAnswers${question.questionType}`](
            data.data.userAnswersByQuestion,
            this.labels
          )
          this.toText(format, preparedData, question.questionText)
        })
      }
    },
    toText(format, preparedData, questionText) {
      let tempQuestionText = questionText.substring(0, questionText.length - 1)
      userAnswersToText(format, preparedData, tempQuestionText)
      this.convertingFormat = ""
    },
    prepareUserAnswersMultiple(userAnswers, _) {
      return userAnswers.map((userAnswer) => {
        let entry = []
        entry.push(userAnswer.user.id)
        if (userAnswer.status == false) {
          entry.push("-")
        } else {
          userAnswer.answerChoiceKeys.forEach((key) =>
            entry.push(this.userAnswerCollection.formatedOptions[key])
          )
        }
        return entry
      })
    },
    prepareUserAnswersOpen(userAnswers) {
      return userAnswers.answers.map((userAnswer) => {
        return [userAnswer.user.id, userAnswer.answerText ? userAnswer.answerText : "-"]
      })
    },
    prepareUserAnswersRange(userAnswers, labels) {
      return userAnswers.map((userAnswer) => {
        return [
          userAnswer.user.id,
          userAnswer.status == true ? labels[userAnswer.answerScaleKey] : "-",
        ]
      })
    },
    prepareUserAnswersSingle(userAnswers, _) {
      return userAnswers.map((userAnswer) => {
        return [
          userAnswer.user.id,
          userAnswer.status == true
            ? this.userAnswerCollection.formatedOptions[userAnswer.answerChoiceKey]
            : "-",
        ]
      })
    },
    prepareUserAnswersYesOrNo(userAnswers, _) {
      return userAnswers.map((userAnswer) => {
        let answerValue = userAnswer.answerValue == 1 ? "ja" : "nein"
        return [userAnswer.user.id, userAnswer.status == true ? answerValue : "-"]
      })
    },
  },
}
</script>

<style>
.export-to-text-btn-container {
  display: flex;
}
</style>
