<template>
  <div class="create-poll-dialog-content">
    <el-form :model="tempPoll" label-position="top" label-width="100px">
      <el-form-item label="Name" prop="pollName">
        <el-input maxlength="40" show-word-limit v-model="tempPoll.pollName" />
      </el-form-item>
      <el-form-item label="Beschreibung" prop="pollDescription">
        <el-input maxlength="60" show-word-limit v-model="tempPoll.pollDescription" />
      </el-form-item>
    </el-form>
    <el-button type="primary" @click="createPoll()">Umfrage erstellen</el-button>
  </div>
</template>

<script>
import { CREATE_POLL } from "vue-shared"

export default {
  name: "CreatePollDialog",
  props: ["resetOnChange"],
  data() {
    return {
      tempPoll: {},
    }
  },
  watch: {
    resetOnChange() {
      this.tempPoll = {}
    },
  },
  methods: {
    createPoll() {
      this.$apollo
        .mutate({
          mutation: CREATE_POLL,
          variables: {
            pollName: this.tempPoll.pollName,
            pollDescription: this.tempPoll.pollDescription,
          },
        })
        .then((data) => {
          let newPoll = data.data.createPoll.poll
          localStorage.setItem("snippet-poll-id", newPoll.id)
          location.reload()
        })
        .catch((error) => {
          // Error
          console.error(error)
        })
    },
  },
}
</script>

<style lang="scss">
.create-poll-dialog-content {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}
</style>
