<template>
  <div class="link" @click="duplicatePoll(pollId)">
    <i class="el-icon-circle-plus-outline" />
    Duplizieren
  </div>
</template>

<script>
import { DUPLICATE_POLL } from "vue-shared"
import { mapStores } from "pinia"
import { useTierStore } from "@/stores/tier"
import { usePollStore } from "@/stores/polls"
import { useAppStore } from "@/stores/app"

export default {
  name: "DuplicatePoll",
  computed: {
    ...mapStores(useTierStore, usePollStore, useAppStore),
  },
  methods: {
    duplicatePoll(id) {
      if (this.tierStore.tier.pollsAmount > this.pollStore.polls.length) {
        this.$apollo
          .mutate({
            mutation: DUPLICATE_POLL,
            variables: {
              pollId: id,
            },
          })
          .then((data) => {
            const newPollId = data.data.duplicatePoll.poll.id
            localStorage.setItem("snippet-poll-id", newPollId)
            location.reload()
          })
          .catch((error) => {
            console.log(error)
          })
      } else {
        this.appStore.toggleLimitDialog({ limitType: "poll" })
      }
    },
  },
  props: {
    pollId: {
      type: String,
      required: true,
    },
  },
}
</script>

<style scoped lang="scss">
.link {
  display: flex;
  align-items: center;
  height: 42px;
  border-radius: 2px;
  font-size: 0.9rem;
  cursor: pointer;
  width: 100%;
  padding-left: 10px;

  &:hover {
    color: #fff;
    background: var(--secundary-color);
    font-weight: 600;
  }

  i {
    font-size: 1rem;
    margin-right: 8px;
    font-weight: 600;
  }
}
</style>
