<template>
  <div @click="copyLink(rootUrl + pollCode, $event)" class="link">
    <i class="el-icon-copy-document"></i> Link kopieren
  </div>
</template>

<script>
import clip from "@/utils/clipboard.js"

export default {
  name: "LinkToClipboard",
  props: {
    pollCode: {
      type: String,
      required: true,
      default: "",
    },
  },
  computed: {
    rootUrl() {
      return process.env.VUE_APP_URL
    },
  },
  methods: {
    copyLink(text, event) {
      clip(text, event)
    },
  },
}
</script>

<style scoped lang="scss">
.link {
  display: flex;
  align-items: center;
  min-width: 150px;
  height: 42px;
  border-radius: 2px;
  font-size: 0.9rem;
  cursor: pointer;
  width: 100%;
  padding-left: 10px;

  &:hover {
    color: #fff;
    background: var(--secundary-color);
    font-weight: 600;
  }

  i {
    font-size: 1rem;
    margin-right: 8px;
    font-weight: 600;
  }
}
</style>
