<template>
  <div class="status-indicator">
    <div
      :class="{
        'status-indicator-bulb': true,
        active: status == 'ACTIVE',
        test: status == 'TEST',
      }"
    ></div>
    <div class="status-indicator-text">
      <span v-if="status == 'ACTIVE'">Aktiv</span>
      <span v-else-if="status == 'TEST'">Testmodus</span>
      <span v-else>Inaktiv</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "StatusIndicator",
  props: {
    status: {
      type: String,
    },
  },
}
</script>

<style scoped lang="scss">
.status-indicator {
  display: flex;
  align-items: center;
  .status-indicator-bulb {
    height: 16px;
    width: 16px;
    border-radius: 100%;
    background: #f56c6c;

    &.active {
      background: #67c23a;
    }

    &.test {
      background: #fed500;
    }
  }

  .status-indicator-text {
    font-size: 0.9rem;
    margin-left: 8px;
    font-weight: 400;
  }
}
</style>
