<template>
  <div>
    <h2>Wort hinzufügen</h2>
    <el-form class="ngrams-add-form" ref="addNgramsForm" :rules="rules" :model="addNgramForm">
      <el-form-item class="ngrams-add-form-input">
        <el-input
          maxlength="20"
          ref="addNgramString"
          v-model="addNgramForm.string"
          placeholder="Wort"
          size="medium"
        ></el-input>
      </el-form-item>
      <el-form-item class="ngrams-add-form-input">
        <el-input
          maxlength="4"
          type="number"
          min="1"
          v-model="addNgramForm.count"
          placeholder="Häufigkeit"
          size="medium"
        ></el-input>
      </el-form-item>
    </el-form>

    <el-button @click="addNgrams" class="ngrams-button" size="medium" icon="el-icon-plus">
      Hinzufügen</el-button
    >
    <el-dialog
      :visible.sync="showAddNgramsDialog"
      title="Hinzufügen"
      @open="addNgramForm.string = ''"
      append-to-body
    >
      <br />
    </el-dialog>
  </div>
</template>

<script>
import { useWordcloudStore } from "@/stores/wordcloud"

export default {
  name: "TheWordcloudEditorAdd",
  components: {},
  data() {
    return {
      showAddNgramsDialog: false,
      addNgramForm: { string: "", count: null },
      rules: {
        string: [
          {
            required: true,
            message: "Neue Bezeichnung erforderlich",
            trigger: "blur",
          },
        ],
      },
    }
  },

  methods: {
    addNgrams() {
      this.$refs["addNgramsForm"].validate((valid) => {
        if (valid) {
          useWordcloudStore().ngrams.push({
            string: this.addNgramForm.string,
            originalString: this.addNgramForm.string,
            count: this.addNgramForm.count,
            originalCount: this.addNgramForm.count,
            stringEdit: false,
            countEdit: false,
          })
          this.$message({
            message: "Hinzugefügt",
            showClose: true,
            duration: 1000,
            type: "success",
          })
          this.addNgramForm = { string: "", count: null }

          this.$nextTick(() => {
            this.$refs["addNgramsForm"].clearValidate()
          })
        }
      })
    },
  },
}
</script>

<style lang="scss" scoped>
.ngrams-add-form {
  width: 560px;
  display: flex;

  .ngrams-add-form-input {
    width: 280px;
    margin-right: 1rem;
  }
}
</style>
