<template>
  <div>
    <el-button
      @click="showDeleteNgramsDialog = true"
      :disabled="disableDeleteBtn"
      class="ngrams-button"
      size="medium"
      icon="el-icon-delete"
      >Wörter löschen</el-button
    >

    <el-dialog :visible.sync="showDeleteNgramsDialog" title="Auswahl löschen" append-to-body>
      <el-table
        max-height="500"
        :data="wordcloudStore.selectedNgrams"
        border
        fit
        style="width: 100%"
      >
        <el-table-column prop="string" label="Wort" />
        <el-table-column prop="count" label="Häufigkeit" />
      </el-table>
      <span slot="footer" class="dialog-footer">
        <el-button size="medium" type="primary" icon="el-icon-delete" @click="deleteNgrams"
          >Wörter löschen</el-button
        >
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapStores } from "pinia"

import { useWordcloudStore } from "@/stores/wordcloud"

export default {
  name: "TheWordcloudEditorDelete",
  components: {},
  data() {
    return { showDeleteNgramsDialog: false }
  },
  computed: {
    ...mapStores(useWordcloudStore),

    disableDeleteBtn() {
      if (this.wordcloudStore.selectedNgrams.length == 0) {
        return true
      }
      return false
    },
  },
  methods: {
    deleteNgrams() {
      this.wordcloudStore.selectedNgrams.forEach((selectedNgram) => {
        // Delete merged ngrams from table
        this.wordcloudStore.ngrams.forEach((ngram, index) => {
          if (Object.is(selectedNgram, ngram)) {
            this.wordcloudStore.ngrams.splice(index, 1)
          }
        })
      })
      this.showDeleteNgramsDialog = false
      this.$message({
        message: "Auswahl gelöscht",
        showClose: true,
        duration: 1000,
        type: "success",
      })
    },
  },
}
</script>

<style lang="scss" scoped></style>
