<template>
  <div class="search-wrapper">
    <div class="search-header">
      <el-input
        maxlength="40"
        v-model="wordcloudStore.searchTerm"
        placeholder="Suche"
        :debounce="300"
        clearable
      />
      <div class="search-counter-container">
        <el-tag class="search-counter" v-if="wordcloudStore.searchTerm" type="danger">{{
          searchedUserAnswersOpen.length
        }}</el-tag>
      </div>
    </div>
    <div class="search-result">
      <HighlightText
        v-for="(userAnswer, i) in searchedUserAnswersOpen"
        :key="i"
        :keyword="wordcloudStore.searchTerm"
        :overWriteStyle="{
          color: '#F56C6C',
          backgroundColor: 'rgba(64, 158, 255,0.0)',
          fontWeight: 'bold',
        }"
        :sensitive="false"
        >{{ userAnswer.answerText.toLowerCase() }} -
      </HighlightText>
    </div>
  </div>
</template>

<script>
import { mapStores } from "pinia"
import { useAnalyticsStore } from "@/stores/analytics"
import { useWordcloudStore } from "@/stores/wordcloud"

import HighlightText from "vue-highlight-text"

export default {
  name: "TheWordcloudEditorSearch",
  components: { HighlightText },
  computed: {
    ...mapStores(useAnalyticsStore, useWordcloudStore),

    searchedUserAnswersOpen() {
      return this.analyticsStore.userAnswerCollection.answers.filter((userAnswer) => {
        if (userAnswer.status == true) {
          return userAnswer.answerText
            .toLowerCase()
            .includes(this.wordcloudStore.searchTerm.toLowerCase())
        }
      })
    },
  },
  methods: {},
}
</script>

<style lang="scss" scoped>
.search-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 200px;

  .search-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.75rem;

    .search-counter-container {
      min-width: 50px;

      .search-counter {
        min-width: 50px;
        text-align: center;
        margin-left: 0.5rem;
      }
    }
  }

  .search-result {
    height: 510px;
    overflow-y: scroll;
    margin-bottom: 0.75rem;
  }
}
</style>
