<template>
  <div>
    <div v-show="wordcloudStore.showWordcloudEditor">
      <h2>Wörter</h2>
      <div class="wordcloud-tool">
        <div class="ngrams-wrapper">
          <TheWordcloudEditorTable />
          <div class="wordcloud-tool-actions">
            <TheWordcloudEditorMerge />
            <TheWordcloudEditorDelete />
            <el-button
              :disabled="!unsavedChanges"
              @click="saveEditedNgrams"
              class="ngrams-button"
              size="medium"
              type="primary"
              >Änderungen speichern</el-button
            >
          </div>
          <TheWordcloudEditorAdd />
        </div>
        <TheWordcloudEditorSearch />
      </div>
    </div>
  </div>
</template>

<script>
import { mapStores } from "pinia"
import { useWordcloudStore } from "@/stores/wordcloud"
import { useAnalyticsStore } from "@/stores/analytics"

import TheWordcloudEditorAdd from "@/components/TheWordcloudEditor/TheWordcloudEditorAdd"
import TheWordcloudEditorDelete from "@/components/TheWordcloudEditor/TheWordcloudEditorDelete"
import TheWordcloudEditorMerge from "@/components/TheWordcloudEditor/TheWordcloudEditorMerge"
import TheWordcloudEditorSearch from "@/components/TheWordcloudEditor/TheWordcloudEditorSearch"
import TheWordcloudEditorTable from "@/components/TheWordcloudEditor/TheWordcloudEditorTable"

import { UPDATE_NGRAMS_QUESTION_OPEN } from "vue-shared"

export default {
  name: "TheWordcloudEditor",
  components: {
    TheWordcloudEditorAdd,
    TheWordcloudEditorDelete,
    TheWordcloudEditorMerge,
    TheWordcloudEditorSearch,
    TheWordcloudEditorTable,
  },
  data() {
    return {
      preSaveNgrams: [],
    }
  },
  computed: {
    ...mapStores(useWordcloudStore),
    unsavedChanges() {
      return this.preSaveNgrams != JSON.stringify(this.wordcloudStore.ngrams)
    },
  },
  methods: {
    saveEditedNgrams() {
      let saved_ngrams = { ngrams: [] }
      this.wordcloudStore.ngrams.forEach((ngram) => {
        saved_ngrams.ngrams.push([ngram.string, ngram.count])
      })

      this.$apollo
        .mutate({
          mutation: UPDATE_NGRAMS_QUESTION_OPEN,
          variables: {
            questionId: useAnalyticsStore().userAnswerCollection.question.id,
            ngrams: JSON.stringify(saved_ngrams),
          },
        })
        .then((data) => {
          this.preSaveNgrams = JSON.stringify(this.wordcloudStore.ngrams)
          this.$message({
            message: "Änderungen gespeichert",
            showClose: true,
            duration: 1000,
            type: "success",
          })
        })
        .catch((error) => {
          console.error(error)
        })
    },
  },
}
</script>

<style>
.ngrams-button {
  margin: 0 1rem 1rem 0;
}
</style>

<style lang="scss" scoped>
.wordcloud-tool {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;

  .wordcloud-tool-actions {
    display: flex;
    margin-top: 1rem;
  }

  .ngrams-wrapper {
    flex: 1.3;
  }
}
</style>
