<template>
  <el-table
    v-loading="wordcloudStore.ngrams.length == 0"
    :data="wordcloudStore.ngrams"
    :default-sort="{ prop: 'count', order: 'descending' }"
    size="medium"
    fit
    style="width: 95%"
    max-height="500"
    @selection-change="handleWordSelectionChange"
  >
    <el-table-column align="center" type="selection" width="80"></el-table-column>
    <el-table-column min-width="4" label="Wort">
      <template slot-scope="{ row }">
        <template v-if="row.stringEdit">
          <el-input maxlength="20" v-model="row.string" size="small">
            <i
              @click="confirmStringEdit(row)"
              slot="suffix"
              class="el-input__icon el-icon-check"
            ></i>
            <i
              @click="cancelStringEdit(row)"
              slot="prefix"
              class="el-input__icon el-icon-close"
            ></i>
          </el-input>
        </template>
        <div v-else @click="row.stringEdit = !row.stringEdit" class="link-type">
          {{ row.string }}
        </div>
      </template>
    </el-table-column>
    <el-table-column min-width="4" label="Häufigkeit (absteigend)">
      <template slot-scope="{ row }">
        <template v-if="row.countEdit">
          <el-input maxlength="4" v-model="row.count" size="small">
            <i
              @click="confirmCountEdit(row)"
              slot="suffix"
              class="el-input__icon el-icon-check"
            ></i>
            <i @click="cancelCountEdit(row)" slot="prefix" class="el-input__icon el-icon-close"></i>
          </el-input>
        </template>
        <div v-else @click="row.countEdit = !row.countEdit" class="link-type">
          {{ row.count }}
        </div>
      </template>
    </el-table-column>
    <el-table-column min-width="1" label="">
      <template slot-scope="{ row }">
        <template>
          <i
            @click="searchWord(row)"
            slot="suffix"
            class="el-input__icon el-icon-search"
            style="font-weight: 600; line-height: 1"
          ></i>
        </template>
      </template>
    </el-table-column>
  </el-table>
</template>

<script>
import { mapStores } from "pinia"
import { useWordcloudStore } from "@/stores/wordcloud"

export default {
  name: "TheWordcloudEditorTable",
  computed: {
    ...mapStores(useWordcloudStore),
  },
  methods: {
    handleWordSelectionChange(selection) {
      this.wordcloudStore.selectedNgrams = selection
    },
    confirmStringEdit(row) {
      row.stringEdit = false
      row.originalString = row.string
    },
    cancelStringEdit(row) {
      row.string = row.originalString
      row.stringEdit = false
    },
    confirmCountEdit(row) {
      row.countEdit = false
      row.originalCount = parseInt(row.count)
    },
    cancelCountEdit(row) {
      row.count = parseInt(row.originalCount)
      row.countEdit = false
    },
  },
}
</script>

<style lang="scss" scoped>
.link-type,
.link-type:focus {
  /* color: #337ab7; */
  cursor: pointer;
}
</style>
