<template>
  <section class="app-main">
    <transition name="fade" mode="out-in">
      <router-view :key="key" />
    </transition>
    <div @click="impressPrivacyDialog = true" class="impress-privacy-btn">
      Impressum und Datenschutz
    </div>
    <el-dialog :visible.sync="impressPrivacyDialog" width="760px" top="10vh" append-to-body>
      <ImpressPrivacy />
    </el-dialog>
  </section>
</template>

<script>
import ImpressPrivacy from "@/components/ImpressPrivacy"

export default {
  name: "TheBody",
  components: {
    ImpressPrivacy,
  },
  data() {
    return {
      impressPrivacyDialog: false,
    }
  },
  computed: {
    key() {
      return this.$route.path
    },
  },
}
</script>

<style scoped>
.app-main {
  /*50 = navbar  */
  min-height: calc(100vh - 50px);
  width: 100%;
  position: relative;
  overflow: hidden;
}

.fixed-header + .app-main {
  padding-top: 50px;
}

.impress-privacy-btn {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0.5rem 1rem;
  margin: 1rem;
  background: #fff;
  border-radius: 50px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 12%), 0 0 6px 0 rgb(0 0 0 / 4%) !important;
  cursor: pointer;
}
</style>

<style lang="scss">
// fix css style bug in open el-dialog
.el-popup-parent--hidden {
  .fixed-header {
    padding-right: 15px;
  }
}
</style>
