<template>
  <div class="navbar">
    <hamburger
      v-if="appStore.device === 'mobile'"
      :is-active="appStore.sidebar.opened"
      class="hamburger-container"
      @toggleClick="toggleSideBar"
    />

    <!-- <breadcrumb class="breadcrumb-container" /> -->

    <div class="right-menu">
      <el-dropdown class="avatar-container" trigger="click">
        <div class="avatar-wrapper">
          <img src="@/assets/askit_symbol_weiss.png" class="user-avatar" />
          <i class="el-icon-caret-bottom" />
        </div>
        <el-dropdown-menu slot="dropdown" class="user-dropdown">
          <el-dropdown-item v-if="tierStore.tier.emailSupport" @click.native="dialogSupport = true">
            Support kontaktieren
          </el-dropdown-item>
          <a :href="tierStore.wooAccountURL" target="_blank">
            <el-dropdown-item> Adminbereich </el-dropdown-item>
          </a>
          <a href="https://askit-app.de/faq/" target="_blank">
            <el-dropdown-item> FAQ & Hilfe </el-dropdown-item>
          </a>
          <el-dropdown-item divided @click.native="logout">
            <span style="display: block">Abmelden</span>
          </el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
    <el-dialog
      class="support-dialog"
      title="Support kontaktieren"
      :visible.sync="dialogSupport"
      width="500px"
      top="20vh"
      append-to-body
    >
      Du hast ein Problem oder ein Anliegen? Schreibe uns an <br /><a
        href="mailto:support@askit-app.de"
        >support@askit-app.de</a
      >
      <br /><br />
      Um deine Anfrage, schnellstmöglich bearbeiten zu können, freuen wir uns über eine möglichst
      nachvollziehbare Schilderung deines Problems mit Bildschirmaufnahmen.
    </el-dialog>
  </div>
</template>

<script>
import { mapStores } from "pinia"
import { useTierStore } from "@/stores/tier"
import { useUserStore } from "@/stores/user"
import { useAppStore } from "@/stores/app"

import Breadcrumb from "@/components/Breadcrumb"
import Hamburger from "@/components/Hamburger"

export default {
  components: {
    Breadcrumb,
    Hamburger,
  },
  data() {
    return {
      dialogSupport: false,
    }
  },
  computed: {
    ...mapStores(useTierStore, useUserStore, useAppStore),
  },
  methods: {
    toggleSideBar() {
      this.appStore.toggleSideBar()
    },
    async logout() {
      await this.userStore.logout()
    },
  },
}
</script>

<style lang="scss" scoped>
.support-dialog {
  line-height: 1.3;

  a {
    text-decoration: underline;
    color: blue;
  }
}

.navbar {
  height: 50px;
  overflow: hidden;
  position: relative;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);

  .hamburger-container {
    line-height: 46px;
    height: 100%;
    float: left;
    cursor: pointer;
    transition: background 0.3s;
    -webkit-tap-highlight-color: transparent;

    &:hover {
      background: rgba(0, 0, 0, 0.025);
    }
  }

  .breadcrumb-container {
    float: left;
  }

  .right-menu {
    float: right;
    height: 100%;
    line-height: 50px;

    &:focus {
      outline: none;
    }

    .right-menu-item {
      display: inline-block;
      padding: 0 8px;
      height: 100%;
      font-size: 16px !important;
      color: #5a5e66;
      vertical-align: text-bottom;

      &.hover-effect {
        cursor: pointer;
        transition: background 0.3s;

        &:hover {
          background: rgba(0, 0, 0, 0.025);
        }
      }
    }

    .avatar-container {
      margin-right: 30px;

      .avatar-wrapper {
        margin-top: 5px;
        position: relative;
        border-radius: 40px;
        width: 40px;
        height: 40px;
        background: var(--primary-color);
        cursor: pointer;

        .user-avatar {
          width: 40px;
          height: 40px;
          padding: 7.5px;
        }

        .el-icon-caret-bottom {
          cursor: pointer;
          position: absolute;
          right: -20px;
          top: 16px;
          font-size: 12px;
        }
      }
    }
  }
}
</style>
