<template>
  <div id="app" :style="cssProps">
    <div v-if="pollAppStore.activePoll.pollStatus == 'TEST'" class="test-modus-indicator">Test-Modus</div>

    <IFrame v-if="!isMobile"></IFrame>
    <router-view v-else id="router-view" v-show="isPortrait"></router-view>
    <!-- Shown when phone is in landscape mode -->
    <LandscapeWarning v-show="!isPortrait"></LandscapeWarning>
  </div>
</template>

<script>
import { mapStores } from "pinia"
import { usePollAppStore } from "@/stores/poll"

import LandscapeWarning from "./components/pages/LandscapeWarning"
import IFrame from "./components/pages/IFrame"

export default {
  name: "app",
  components: { LandscapeWarning, IFrame },
  data() {
    return {
      allUsers: [],
      isPortrait: true,
      isMobile: false,
    }
  },
  computed: {
    ...mapStores(usePollAppStore),

    cssProps() {
      return {
        "--primary-color": "#6662F0",
        "--secundary-color": "#76D0EB",
        "--text-color": "var(--text-color)",
      }
    },
  },
  methods: {
    checkWindow() {
      if (Math.abs(window.orientation) === 90) {
        this.isPortrait = false
      } else {
        this.isPortrait = true
      }
    },
  },
  created() {
    window.addEventListener("orientationchange", () => this.checkWindow(), false)
    window.addEventListener("resize", () => this.checkWindow(), false)

    if (
      navigator.userAgent.match(/Android/i) ||
      navigator.userAgent.match(/webOS/i) ||
      navigator.userAgent.match(/iPhone/i) ||
      navigator.userAgent.match(/iPad/i) ||
      navigator.userAgent.match(/iPod/i) ||
      navigator.userAgent.match(/BlackBerry/i) ||
      navigator.userAgent.match(/Windows Phone/i) ||
      window.innerWidth < 1024
    ) {
      this.isMobile = true
    }
  },

  destroyed() {
    window.removeEventListener("orientationchange", () => this.checkWindow(), false)
    window.removeEventListener("resize", () => this.checkWindow(), false)
  },
}
</script>

<style lang="scss">
.main-container {
  font-size: 1.1rem;
  display: flex;
  height: 100%;
  width: 100vw;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.test-modus-indicator {
  position: absolute;

  z-index: 1000;
  width: 32vw;
  text-align: center;
  top: 13vh;
  left: 31vw;
  background: #fff;
  color: #f56c6c;
  font-size: 110%;
  font-weight: 600;
  padding: 4px 8px 4px 8px;
  border-radius: 4px;
  border: 2px solid #f56c6c;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

* {
  font-family: "Open Sans", "Arial", sans-serif;
}

html,
body {
  position: fixed;
  overflow: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

body {
  background-color: #ffffff;
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  justify-content: center;

  ::-webkit-scrollbar {
    width: 0px;
  }

  div,
  form {
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
  }

  a {
    color: var(--primary-color);
    cursor: pointer;
    text-decoration: none;
  }

  h2 {
    font-size: 1rem;
  }

  button {
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
  }

  input,
  textarea {
    outline: none;
    border: none;
    resize: none;
  }

  // p {
  //   hyphens: auto;
  //   hyphenate-limit-chars: 6 3 3;
  //   hyphenate-limit-lines: 2;
  //   hyphenate-limit-last: always;
  //   hyphenate-limit-zone: 8%;
  // }
}

@media only screen and (min-width: 1025px) {
  #router-view {
    display: none;
  }
}

@font-face {
  font-family: "Open Sans", sans-serif !important;
  src: url("/fonts/OpenSans-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: "Open Sans", sans-serif !important;
  src: url("/fonts/OpenSans-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: regular;
}

@font-face {
  font-family: "Open Sans", sans-serif !important;
  src: url("/fonts/OpenSans-Semibold.ttf") format("ttf");
  font-weight: 600;
  font-style: semibold;
}

@font-face {
  font-family: "Open Sans", sans-serif !important;
  src: url("/fonts/OpenSans-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: bold;
}
</style>
