{% load render_inside %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{subject}}</title>
  </head>
  <body
    style="
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      text-align: center;
      background-color: #f4f4f4;
    "
  >
    <!-- Wrapper -->
    <table
      cellpadding="0"
      cellspacing="0"
      width="100%"
      style="max-width: 800px; margin: 0 auto; background-color: #ffffff"
    >
      <!-- Header -->

      {% include "emails/email_header.html" %}

      <!-- Body -->
      <tr>
        <td style="padding: 20px; text-align: left">
          <h2 style="margin: 0; padding: 0">{{subject}}</h2>
          {% render_inside content %}
        </td>
      </tr>
      <!-- Footer -->
      {% include "emails/email_footer.html" %}
    </table>
  </body>
</html>
