<tr>
  <td>
    <table
      cellpadding="15"
      cellspacing="0"
      width="100%"
      style="
        background: #323232;
        color: #fff;
        font-size: 0.9rem;
        margin-top: 2rem;
        text-align: left;
        padding-left: 10px;
      "
    >
      <tr>
        <td style="width: 30%; vertical-align: top">
          <div>
            © {% now 'Y' %} askit<br />
            eine Marke von<br />
            <a
              style="
                text-decoration: underline !important;
                color: #fff;
                text-decoration: none;
                margin-right: 2rem;
              "
              href="https://bewirken.org"
              >beWirken gGmbH</a
            >
            <br />
            <br />
            <strong>Anschrift:</strong><br />
            Am Sande 32<br />
            Lüneburg 21335<br />
            Deutschland
            <a
              style="
                text-decoration: underline !important;
                color: #fff;
                text-decoration: none;
              "
              href="https://askit-app.de/impressum"
              >Impressum</a
            ><span style="margin: 10px">|</span
            ><a
              style="
                text-decoration: underline !important;
                color: #fff;
                text-decoration: none;
              "
              href="https://askit-app.de/datenschutz"
              >Datenschutz</a
            >
          </div>
        </td>
        <td>
          <img
            style="height: 30px"
            src="https://challenge-app-space.fra1.cdn.digitaloceanspaces.com/media%2Fimages%2Fadmin%2Faskit_logo_weiss.png"
            alt="askit_logo"
          />
          <p>
            askit, das innovative Umfrage-Tool ist ein Produkt von beWirken und
            beWirken Lab. Einem bundesweit tätigen Sozialunternehmen im
            Bildungsbereich.
          </p>
          <img
            style="height: 50px; margin-right: 1rem"
            src="https://challenge-app-space.fra1.cdn.digitaloceanspaces.com/media%2Fimages%2Fadmin%2FbeWirken-lab_logo_weiss.png"
            alt="bewirken_logo"
          />
          <img
            style="height: 50px"
            src="https://challenge-app-space.fra1.cdn.digitaloceanspaces.com/media%2Fimages%2Fadmin%2Ftransparente_gesellschaft_logo_weiss.png"
            alt="bewirken_logo"
          />
        </td>
      </tr>
    </table>
  </td>
</tr>
