<tr>
  <td bgcolor="#6662F0" style="padding: 40px; text-align: left">
    <img
      src="https://challenge-app-space.fra1.cdn.digitaloceanspaces.com/media%2Fimages%2Fadmin%2Faskit_logo_weiss.png"
      alt="askit-logo"
      width="100"
      height="auto"
      style="display: block"
    />
  </td>
</tr>
