<template>
  <div>
    <div @click="$router.push('/')" class="sidebar-item sidebar-btn">Meine Umfragen</div>
    <div @click="openCreatePollDialog()" class="sidebar-item sidebar-btn">
      <i class="sidebar-icon el-icon-circle-plus-outline" />Umfrage erstellen
    </div>
    <div class="sidebar-item">Übersicht</div>
    <el-scrollbar wrap-class="scrollbar-wrapper">
      <el-menu
        :default-active="activeMenu"
        :background-color="variables.menuBg"
        :text-color="variables.menuText"
        :unique-opened="false"
        :active-text-color="variables.menuActiveText"
        mode="vertical"
        @select="setActivePoll"
      >
        <sidebar-item
          v-for="route in routes"
          :key="route.path"
          :item="route"
          :base-path="route.path"
        />
        <div class="scrollbar-gradient-space"></div>
      </el-menu>
    </el-scrollbar>
    <div class="scrollbar-gradient"></div>

    <el-dialog
      custom-class="create-poll-dialog"
      title="Umfrage erstellen:"
      :visible.sync="createPollDialog"
      width="30vw"
      top="10vh"
      append-to-body
      :close-on-press-escape="false"
      :close-on-click-modal="false"
    >
      <CreatePollDialog :resetOnChange="createPollDialog" />
    </el-dialog>
  </div>
</template>

<script>
import Logo from "./Logo"
import SidebarItem from "./SidebarItem"
import variables from "@/styles/variables.scss"
import { loadPolls } from "@/router/asyncRoutes"

import CreatePollDialog from "@/components/CreatePollDialog"

import { mapStores } from "pinia"
import { useTierStore } from "@/stores/tier"
import { usePollStore } from "@/stores/polls"
import { useAppStore } from "@/stores/app"

export default {
  components: { SidebarItem, Logo, CreatePollDialog },
  data() {
    return {
      createPollDialog: false,
      tierDetailsDialog: false,
    }
  },
  computed: {
    ...mapStores(usePollStore, useTierStore, useAppStore),

    routes() {
      return this.$router.options.routes
    },
    activeMenu() {
      const route = this.$route
      const { meta, path } = route
      // if set path, the sidebar will highlight the path you set
      if (meta.activeMenu) {
        return meta.activeMenu
      }
      return path
    },
    variables() {
      return variables
    },
    tierDetails() {
      let tierDetails = [
        { text: "Umfragen", value: this.tierStore.tier.pollsAmount },
        { text: "Fragen / Umfrage", value: this.tierStore.tier.questionsAmount },
        { text: "Teilnehmende / Umfrage", value: this.tierStore.tier.participantsAmount },
        { text: "Bilder hochladen", value: this.tierStore.tier.imageUploadsAmount },
        { text: "Konitionale Auswertung", value: this.tierStore.tier.conditionalAnalysis },
        { text: "Wortwolke bearbeiten", value: this.tierStore.tier.wordcloudEditor },
        {
          text: "Emailabfrage am Ende der Umfrage",
          value: this.tierStore.tier.endActions.includes("SEND_MAIL"),
        },
        {
          text: "Weiterleitung am Ende der Umfrage",
          value: this.tierStore.tier.endActions.includes("REDIRECT"),
        },
      ]
      let result = tierDetails.reduce(
        (accumulator, element) => {
          accumulator[element.value ? "availableData" : "notAvailableData"].push(element)
          return accumulator
        },
        { availableData: [], notAvailableData: [] }
      )
      return result
    },
  },
  methods: {
    setActivePoll(event) {
      if (event) {
        let pathArray = event.split("/")

        if (pathArray.includes("umfrage")) {
          this.pollStore.setActivePoll(parseInt(pathArray[pathArray.length - 1]))
        }
      }
    },
    openCreatePollDialog() {
      if (this.tierStore.tier.pollsAmount > this.pollStore.polls.length) {
        this.createPollDialog = true
      } else {
        this.appStore.toggleLimitDialog({ limitType: "poll" })
      }
    },
  },
  created() {
    loadPolls()

    if (localStorage.getItem("snippet-poll-id")) {
      this.setActivePoll()
    }
  },
}
</script>

<style lang="scss" scoped>
.tier-list {
  display: flex;

  .tier-list-col {
    flex: 1;
  }
}

.tier-item {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  font-size: 1rem;
  height: 2.5rem;
  font-weight: 600;

  &__gray {
    color: rgba(0, 0, 0, 0.3) !important;
  }

  .tier-item-icon {
    margin-right: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
  }
}

.tier-item-addon-list {
  padding: 0;
  font-size: 1rem;

  line-height: 2.2;
  font-weight: 600;
}

.tier-item-addon {
  font-weight: 400;
  margin-left: 1.1rem;
  padding-left: 0.5rem;
}

.poll-select-dropdown {
  width: 100%;
  padding: 0 1rem;
}

.sidebar-upgrade {
  position: absolute;
  bottom: 0;
  margin: 20px 20px 5vh 50px;

  .sidebar-upgrade-tier {
    text-decoration: underline;
    cursor: pointer;
  }
}

.upgrade-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  width: 180px;
  height: 42px;
  font-size: 15px;
  border: 1px solid #fff;
  border-radius: 4px;
  cursor: pointer;

  &__black {
    border-color: #393939;
    margin-top: 5rem;
  }

  &:hover {
    color: #fff;
    background: #76d0eb;
    border: none;
    font-weight: 600;
  }

  .upgrade-btn-icon {
    font-size: 1.5rem;
    margin: 0 0.5rem 0 -5px;
  }
}

.hideSidebar > .sidebar-container > .poll-select-container > .poll-select-dropdown {
  padding: 0.25rem;
}

.poll-select-heading {
  margin: 16px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  color: #bfcbd9;

  .poll-select-heading-text {
    margin: 0;
    font-size: 14px;
  }

  .poll-select-heading-icon {
    width: 16px;
    height: 16px;
  }
}
</style>
