<template>
  <Modal @close="closeModal()">
    <div class="modal-wrapper__outer">
      <div v-if="!hideInputs" class="modal-wrapper__inner">
        <div
          v-if="!emailInputIsFocused && poll.pollSuccessButton != 'TAN'"
          class="modal-success-top"
        >
          <div style="font-size: 4rem">😊</div>
          <span class="modal-heading" v-show="!emailInputIsFocused">{{
            $t("end-modal.success.header")
          }}</span>

          <div class="modal-counter">
            {{ $t("end-modal.questions-counter.a") }}
            <span class="counter-done">{{ userAnswersByUser.length }}</span>
            {{ $t("end-modal.questions-counter.b") }}
            <span class="counter-open">{{ userAnswersByUser.length }}</span>
            {{ $t("end-modal.questions-counter.c") }}
          </div>
          <span class="modal-subheading">{{ $t("end-modal.success.subheader") }}</span>

          <BaseParagraph v-html="poll.pollSuccessModal"></BaseParagraph>
        </div>
        <div v-else>
          <BaseParagraph v-html="poll.pollSuccessModal"></BaseParagraph>
        </div>

        <div class="modal-success-bottom">
          <div class="modal-action-container" v-if="poll.pollSuccessButton == 'SEND_MAIL'">
            <BaseInput
              v-model="successMailAddress"
              @focus="focus()"
              :label="'E-Mail-Adresse'"
              :validation="{ hasError: errors.has('...') }"
              v-validate="{ required: true, email: true, max: 250 }"
              data-vv-delay="1200"
              type="email"
              name="..."
            />
            <BaseInputError v-show="errors.has('...')">{{ errors.first("...") }}</BaseInputError>
            <div class="modal-privacy">
              {{ poll.pollEmailUsage }}
            </div>
            <BaseButton
              v-if="!mailAddressSend && emailInputIsFocused"
              @click="sendMailAddress()"
              class="end-modal-btn end-modal-btn__filled"
              >{{ $t("end-modal.success.btn-send-mail") }}</BaseButton
            >
            <BaseButton @click="endSurvey()" class="end-modal-btn end-modal-btn__outline">
              {{ $t("end-modal.success.btn-end-survey") }}
            </BaseButton>
          </div>
          <div class="modal-action-container" v-if="poll.pollSuccessButton == 'REDIRECT'">
            <BaseButton
              style="margin-top: 0.25rem"
              @click="redirect()"
              class="end-modal-btn end-modal-btn__filled"
              >{{ poll.pollRedirectBtnText }}</BaseButton
            >
            <BaseButton @click="endSurvey()" class="end-modal-btn end-modal-btn__outline">
              {{ $t("end-modal.success.btn-end-survey") }}
            </BaseButton>
          </div>
          <div class="modal-action-container" v-if="poll.pollSuccessButton == 'BACK'">
            <BaseButton @click="endSurvey()" class="end-modal-btn end-modal-btn__filled">
              {{ $t("end-modal.success.btn-end-survey") }}
            </BaseButton>
          </div>

          <div class="modal-action-container" v-if="poll.pollSuccessButton == 'TAN'">
            <BaseButton
              class="end-modal-btn end-modal-btn__filled"
              style="margin-top: 0.25rem"
              v-if="poll.pollSuccessButton == 'TAN'"
              @click="useTan((validVote = true))"
              >Wahl bestätigen</BaseButton
            >
            <BaseButton
              style="margin-top: 3rem; font-size: 0.9rem"
              class="modal-end-survey-btn"
              @click="useTan((validVote = false))"
            >
              Wahlzettel ungültig machen
            </BaseButton>
          </div>
        </div>
      </div>

      <div v-if="mailAddressSend" class="mail-popup">
        <div class="modal-success-top">
          <span class="modal-heading">{{ $t("end-modal.email-confirmation.header") }}</span>
          <BaseParagraph>{{ $t("end-modal.email-confirmation.text-1") }}</BaseParagraph>
          <div class="mail-popup-icon">
            <i class="sl-icon icon-envelope-letter"></i>
          </div>
          <BaseParagraph>
            {{ $t("end-modal.email-confirmation.text-2") }}
            <br />¯\_(ツ)_/¯
            <br />
            <br />
            {{ $t("end-modal.email-confirmation.text-3") }}
          </BaseParagraph>
        </div>

        <div class="modal-success-bottom">
          <BaseButton @click="endSurvey()" class="end-modal-btn end-modal-btn__filled">{{
            $t("end-modal.success.btn-end-survey")
          }}</BaseButton>
        </div>
      </div>
      <div v-if="tanChecked" class="tan-popup">
        <BaseHeading style="width: auto; font-weight: 600" :level="1">
          <div v-if="tanStatus && tanValidVote">
            Deine Stimme wurde erfolgreich abgegeben. Du kannst diesen Tab nun schließen.
          </div>
          <div v-if="tanStatus && !tanValidVote">
            Deine Stimme wurde erfolgreich ungültig gemacht. Du kannst diesen Tab nun schließen.
          </div>
          <div v-if="!tanStatus">Diese TAN wurde bereits zur Stimmabgabe verwendet.</div>
        </BaseHeading>
        <div v-if="tanStatus" class="sl-icon icon-check"></div>
        <div v-else class="sl-icon icon-close"></div>
        <BaseHeading style="width: auto" :level="1">
          {{ tanStatus ? $t("tan.valid") : $t("tan.invalid") }}
        </BaseHeading>
        <BaseButton
          v-if="!tanStatus"
          class="end-modal-btn end-modal-btn__filled"
          @click="restartSurvey()"
          >Andere TAN verwenden</BaseButton
        >
      </div>
    </div>
  </Modal>
</template>

<script>
import Modal from "./Modal"

import UPDATE_USER_EMAIL from "../../graphql/users/updateUserEmail.gql"
import { CHECK_TAN } from "vue-shared"

export default {
  name: "modal-success",
  props: ["poll", "userAnswersByUser"],
  components: {
    Modal,
  },
  data() {
    return {
      successMailAddress: "",
      hideInputs: false,
      tanChecked: false,
      tanStatus: false,
      tanValidVote: true,
      mailAddressSend: false,

      emailInputIsFocused: false,
    }
  },
  methods: {
    focus() {
      this.emailInputIsFocused = true
      // Prevent scrolling in vue-admin
      if (process.env.VUE_APP_TOKEN_PREFIX) {
        setTimeout(() => window.scrollTo(0, 0), 400)
      }
    },
    redirect() {
      // Prevent redirect in vue-admin
      if (process.env.VUE_APP_TOKEN_PREFIX) {
        window.open(this.poll.pollRedirectUrl)
      }
    },
    sendMailAddress() {
      // Prevent mutation in vue-admin
      if (process.env.VUE_APP_TOKEN_PREFIX) {
        this.$validator.validateAll().then((result) => {
          if (!result) {
            return false
          } else {
            this.$apollo
              .mutate({
                mutation: UPDATE_USER_EMAIL,
                variables: {
                  email: this.successMailAddress,
                },
              })
              .then(() => {
                this.hideInputs = true
                this.mailAddressSend = true
              })
          }
        })
      }
    },
    useTan(validVote) {
      let tan = localStorage.getItem("snippet-tan")

      this.$apollo
        .mutate({
          mutation: CHECK_TAN,
          variables: {
            pollId: this.poll.id,
            tan: tan,
            useTan: true,
            validVote: validVote,
          },
        })
        .then((data) => {
          this.tanValidVote = validVote
          this.tanStatus = data.data.checkTan.success

          this.hideInputs = true
          this.tanChecked = true

          if (this.tanStatus) {
            localStorage.clear()
            setTimeout(() => {
              window.location.href = "about:blank"
            }, 5000)
          }
        })
        .catch(() => {
          this.hideInputs = true
          this.tanChecked = true
        })
    },
    closeModal() {
      this.emailInputIsFocused = false
      this.$emit("close")
    },
    endSurvey() {
      if (process.env.VUE_APP_TOKEN_PREFIX) {
        localStorage.setItem("closed-" + this.poll.pollCode, true)
        this.$router.push("/ende")
      }
    },
    restartSurvey() {
      localStorage.clear()
      window.location.reload()
    },
  },
}
</script>

<style lang="scss" scoped>
.modal-wrapper {
  &__outer {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
  }
}

.modal-heading {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

.modal-subheading {
  font-size: 13px;
  text-align: center;
}

.modal-success-top {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-success-bottom {
  display: flex;
  margin-bottom: 1rem;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.modal-action-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
  width: 100%;
}

.modal-end-survey-btn {
  background: #fff;
  color: #333;
  border: 1px solid #333;
  // width: 75%;
  padding: 0 24px;
}

.modal-privacy {
  font-size: 0.65rem;
  text-align: center;
  line-height: 1;
  width: 80%;
}

.mail-popup {
  display: flex;
  flex-direction: column;
  flex: 1;

  .mail-popup-icon {
    // position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    opacity: 0.8;
    color: var(--secundary-color);
    width: 100%;
    margin: 1rem 0;
    // top: 0;
    // left: 0;
  }
}

.tan-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 1rem 0;

  .sl-icon {
    margin: 1rem;
    font-size: 32vw;

    &.icon-check {
      color: rgba(125, 211, 33, 0.75);
    }

    &.icon-close {
      color: rgba(208, 2, 26, 0.5);
    }
  }
}

.modal-counter {
  font-size: 13px;
  text-align: center;
}

.end-modal-btn {
  min-height: 55px;
  font-size: 1rem;

  &__filled {
    background: var(--secundary-color);
    color: #fff;
  }

  &__outline {
    background: #fff;
    color: var(--secundary-color);
    border: 2px solid var(--secundary-color);
  }
}
</style>
