#app {
  .main-container {
    min-height: 100%;
    transition: margin-left 0.28s;
    margin-left: $sideBarWidth;
    position: relative;
  }

  .sidebar-container {
    transition: width 0.28s;
    width: $sideBarWidth !important;
    color: #fff;
    background-color: $menuBg;
    height: 100%;
    padding-top: 10px;
    position: fixed;
    font-size: 16px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;

    // reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }

    .sidebar-item {
      display: flex;
      padding: 20px 20px 20px 25px;
      align-items: center;
      height: 60px;
      color: #fff;
    }

    .sidebar-btn {
      cursor: pointer;

      &:hover {
        background: #4744a8;
        font-weight: 600;
      }
    }

    .sidebar-icon {
      font-size: 1.5rem;
      margin-right: 0.5rem;
    }

    .scrollbar-wrapper {
      position: relative;
      overflow-x: hidden !important;
    }

    .scrollbar-gradient {
      position: fixed;
      top: calc(50% + 85px);
      height: 100px;
      width: 340px;
      background: linear-gradient(0deg, $menuBg 0%, rgba(0, 0, 0, 0) 100%);
      pointer-events: none;
    }

    .scrollbar-gradient-space {
      height: 80px;
    }

    .el-scrollbar__bar {
      position: absolute;
      left: 25px;
      opacity: 1;
      background: rgba(255, 255, 255, 0.2);
      margin: 20px 0 80px 0;

      .el-scrollbar__thumb {
        background: #fff;
      }
    }

    .el-scrollbar {
      height: 50%;
    }

    &.has-logo {
      .el-scrollbar {
        height: calc(100% - 50px);
      }
    }

    .is-horizontal {
      display: none;
    }

    .svg-icon {
      margin-right: 16px;
    }

    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
    }

    // menu hover
    .submenu-title-noDropdown,
    .el-submenu__title {
      &:hover {
        background-color: $menuHover !important;
      }
    }

    .is-active > .el-submenu__title {
      display: none;
      padding-left: 16px !important;
      color: $subMenuActiveText !important;
    }

    & .nest-menu .el-submenu > .el-submenu__title,
    & .el-submenu .el-menu-item {
      font-size: 16px;
      padding-left: 42px !important;
      max-width: $sideBarWidth !important;
      word-wrap: break-word;
      min-height: 55px;

      span {
        display: inline-block;
        margin-left: 16px;
        width: 260px !important;
        word-spacing: normal;
        white-space: normal;
        line-height: 1.1;
      }

      &:hover {
        background-color: $subMenuHover !important;
      }

      .is-active {
        background-color: $subMenuHover !important;
      }
    }
  }

  .hideSidebar {
    .sidebar-container {
      width: 54px !important;
    }

    .main-container {
      margin-left: 54px;
    }

    .submenu-title-noDropdown {
      padding: 0 !important;
      position: relative;

      .el-tooltip {
        padding: 0 !important;

        .svg-icon {
          margin-left: 20px;
        }
      }
    }

    .el-submenu {
      overflow: hidden;

      & > .el-submenu__title {
        padding: 0 !important;
        display: none !important;

        .svg-icon {
          margin-left: 20px;
        }

        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }

    .el-menu--collapse {
      .el-submenu {
        & > .el-submenu__title {
          & > span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }

  .el-menu--collapse .el-menu .el-submenu {
    min-width: $sideBarWidth !important;
  }

  // mobile responsive
  .mobile {
    .main-container {
      margin-left: 0px;
    }

    .sidebar-container {
      transition: transform 0.28s;
      width: $sideBarWidth !important;
    }

    &.hideSidebar {
      .sidebar-container {
        pointer-events: none;
        transition-duration: 0.3s;
        transform: translate3d(-$sideBarWidth, 0, 0);
      }
    }
  }

  .withoutAnimation {
    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}

// when menu collapsed
.el-menu--vertical {
  & > .el-menu {
    .svg-icon {
      margin-right: 16px;
    }
  }

  .nest-menu .el-submenu > .el-submenu__title,
  .el-menu-item {
    &:hover {
      // you can use $subMenuHover
      background-color: $menuHover !important;
    }
  }

  // the scroll bar appears when the subMenu is too long
  > .el-menu--popup {
    max-height: 100vh;
    overflow-y: auto;

    &::-webkit-scrollbar-track-piece {
      background: #d3dce6;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #99a9bf;
      border-radius: 20px;
    }
  }
}
