<template>
  <div v-if="showComponent" class="dashboard">
    <DashboardHelp />
    <DashboardCreatePoll />
    <DashboardCard v-for="poll in pollStore.polls" :key="poll.id" :poll="poll" />
  </div>
</template>

<script>
import { mapStores } from "pinia"
import { usePollStore } from "@/stores/polls"

import DashboardCard from "./DashboardCard"
import DashboardHelp from "./DashboardHelp"
import DashboardCreatePoll from "./DashboardCreatePoll"

export default {
  name: "dashboard",
  components: { DashboardHelp, DashboardCard, DashboardCreatePoll },
  data() {
    return {
      showComponent: false,
    }
  },
  computed: {
    ...mapStores(usePollStore),
  },
  mounted() {
    setTimeout(() => (this.showComponent = true), 500)
  },
}
</script>

<style lang="scss" scoped>
.dashboard {
  display: flex;
  flex-wrap: wrap;
  margin: 2.75rem 3rem 3rem 3rem;
}
</style>

<style>
/* Referenced in DashboardCard and DashboardCreatePoll */
.dashboard-card {
  width: 320px;
  height: 220px;
  margin: 0 1.5rem 2rem 0;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.dashboard-card:hover {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2) !important;
}
</style>
