<template>
  <div class="poll-container">
    <PollInfo />
    <PollTabs />
  </div>
</template>

<script>
import PollInfo from "./PollInfo"
import PollTabs from "./PollTabs/PollTabs"

export default {
  name: "PollContainer",
  components: { PollInfo, PollTabs },
}
</script>

<style scoped lang="scss">
.poll-container {
  max-width: 960px;
  margin: 30px;
  border: 2px solid #d9d9d9;
  border-radius: 8px;
}
</style>
