<template>
  <div class="pollinfo-wrapper">
    <!-- <div class="pollinfo-content"> -->
    <div class="pollinfo-header">
      <div class="pollinfo-title">
        <span style="font-weight: 600">{{ pollStore.activePoll.pollName }}</span>
        <div class="pollinfo-status-indicator">
          <StatusIndicator :status="pollStore.activePoll.pollStatus" />
        </div>
        <ParticipantCounters :poll="pollStore.activePoll" />
      </div>
    </div>

    <div class="pollinfo-right-box">
      <DuplicatePoll :poll-id="pollStore.activePoll.id" />
      <LinkToClipboard :pollCode="pollStore.activePoll.pollCode" />
      <QrCodeButton class="pollinfo-qrcode" :pollCode="pollStore.activePoll.pollCode" />
    </div>
    <!-- </div> -->
  </div>
</template>

<script>
import { mapStores } from "pinia"
import { usePollStore } from "@/stores/polls"

import LinkToClipboard from "@/components/LinkToClipboard"
import StatusIndicator from "@/components/StatusIndicator"
import QrCodeButton from "@/components/QrCodeButton"
import ParticipantCounters from "@/components/ParticipantCounters"
import DuplicatePoll from "@/components/DuplicatePoll"

export default {
  name: "PollBar",
  components: {
    QrCodeButton,
    ParticipantCounters,
    StatusIndicator,
    LinkToClipboard,
    DuplicatePoll,
  },
  computed: {
    ...mapStores(usePollStore),
  },
}
</script>

<style scoped lang="scss">
.pollinfo-wrapper {
  display: flex;
  margin: 2rem 2rem 1.5rem 2rem;
  justify-content: space-between;

  .pollinfo-header {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;

    .pollinfo-title {
      .pollinfo-status-indicator {
        margin: 1rem 0;
      }
    }
  }

  .pollinfo-right-box {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
</style>
