{% load render_inside %}

<!DOCTYPE HTML
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //DE" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml"
  xmlns:o="urn:schemas-microsoft-com:office:office">
<!--[if gte mso 9]><xml>
     <o:OfficeDocumentSettings>
      <o:AllowPNG/>
      <o:PixelsPerInch>96</o:PixelsPerInch>
     </o:OfficeDocumentSettings>
    </xml><![endif]-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--<![endif]-->
<title>{{subject}}</title>
<!--[if !mso]><!-- -->
<!--<![endif]-->
<!--[if IE]><div class="ie-browser"><![endif]-->
<!--[if mso]><div class="mso-container"><![endif]-->
{% include "emails/email_header.html" %}

<body style="
display: flex;
flex-direction: column; 
font-family: 'Open Sans', sans-serif; 
font-size: 1rem;
margin: auto; 
color: #323232">
  <div style="max-width: 540px; margin-left: 5%">

    <h2 style="margin: 2.5rem 0 1.5rem 0; hyphens: auto;">{{subject}}</h2>
    {% render_inside content %}
  </div>
</body>
{% include "emails/email_footer.html" %}

<style>
  div {
    margin: 1.5rem 0
  }
</style>

</html>