<footer style="
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 200px;
  background: #323232;
  color: #fff;
  font-size: .9rem;
  margin-top: 2rem;
  padding: 0 5%;
">
<div style="
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
    padding: 3rem 1rem 3rem 0;
">
  <br>
  © {% now 'Y' %} askit<br>
  eine Marke von<br> 
  <a style="text-decoration: underline !important; color: #fff; text-decoration: none; margin-right: 2rem;" href="https://askit-app.de/impressum/" >beWirken - Jugendbildung auf Augenhöhe gGmbH
  </a> 
  <br>
  <br>

  <strong>Anschrift:</strong>
  Am Sande 32<br>
  Lüneburg 21335<br>
  Deutschland
  <div style="
    margin: 0rem 0 0 0;
  "> 
    <a style="text-decoration: underline !important; color: #fff; text-decoration: none;" href="https://askit-app.de/impressum/" >Impressum</a> | 
    <a style="text-decoration: underline !important; color: #fff; text-decoration: none;" href="https://askit-app.de/datenschutz/" >Datenschutz</a>  
  </div>

</div>
<div style="
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2.5rem 0;
"> 
  <div>
    <img style="height: 40px" src="https://challenge-app-space.fra1.cdn.digitaloceanspaces.com/media%2Fimages%2Fadmin%2Faskit_logo_weiss.png" alt="bewirken_logo">
    <p>  askit, das innovative Umfrage-Tool ist ein Produkt von beWirken und beWirken Lab. Einem bundesweit tätigen Sozialunternehmen im Bildungsbereich.
    </p>
  </div>
  <div style="
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 2rem 0 0 0;
    ">
    <img style="height: 50px; margin-right: 1rem;" src="https://challenge-app-space.fra1.cdn.digitaloceanspaces.com/media%2Fimages%2Fadmin%2FbeWirken-lab_logo_weiss.png" alt="bewirken_logo">
    <img style="height: 50px" src="https://challenge-app-space.fra1.cdn.digitaloceanspaces.com/media%2Fimages%2Fadmin%2Ftransparente_gesellschaft_logo_weiss.png" alt="bewirken_logo">

  </div>
</div>


</footer>
