{% load render_bundle from webpack_loader %}
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <title>askit</title>
  <link rel="stylesheet" href="https://challenge-app-space.fra1.cdn.digitaloceanspaces.com/media/fonts_icons/simple-line-icons/css/simple-line-icons.css">
  
  {% render_bundle 'app' 'css' 'FRONTEND' %}
</head>
<body>
  <div id="app"></div>
  {% render_bundle 'chunk-vendors' 'js' 'FRONTEND' %}
  {% render_bundle 'app' 'js' 'FRONTEND' %}
</body>
</html>
 
