<template>
  <div>
    <el-button
      @click="dialogDeletePoll = true"
      style="margin-top: 0.5rem"
      type="danger"
      plain
      icon="el-icon-delete"
    >
      Umfrage löschen
    </el-button>

    <el-dialog
      class="poll-dialog"
      :visible.sync="dialogDeletePoll"
      title="Umfrage löschen"
      @open="deleteInput = ''"
    >
      <div style="line-height: 24px">
        Wenn du die Umfrage
        <strong>"{{ pollStore.activePoll.pollName }}"</strong> wirklich
        <strong>unwiderruflich</strong>
        löschen möchtest, gib unten <strong>LÖSCHEN</strong> ein und bestätige per "Umfrage
        löschen".
      </div>
      <br />
      <el-input
        maxlength="7"
        show-word-limit
        v-model="deleteInput"
        placeholder="LÖSCHEN eingeben, um die Funktion zu aktivieren "
      ></el-input>

      <span slot="footer" class="dialog-footer">
        <el-button
          :disabled="deleteInput != 'LÖSCHEN'"
          size="default"
          type="danger"
          icon="el-icon-delete"
          @click="deletePoll"
          >Umfrage löschen</el-button
        >
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapStores } from "pinia"
import { usePollStore } from "@/stores/polls"

import { DELETE_POLL } from "vue-shared"

export default {
  name: "GeneralDelete",

  components: {},
  data() {
    return {
      dialogDeletePoll: false,
      deleteInput: "",
    }
  },
  computed: {
    ...mapStores(usePollStore),
  },
  methods: {
    deletePoll() {
      this.$apollo
        .mutate({
          mutation: DELETE_POLL,
          variables: {
            pollId: this.pollStore.activePoll.id,
          },
        })
        .then(() => {
          localStorage.removeItem("snippet-poll-id")
          location.reload()

          this.$notify({
            message: "Umfrage wurde gelöscht",
            showClose: true,
            duration: 1500,
            position: "bottom-left",
            type: "success",
          })
        })
        .catch((error) => {
          console.error(error)
        })
    },
  },
}
</script>

<style lang="scss" scoped></style>
