<template>
  <div class="grid-item" @click="select()">
    <div class="grid-item__photo" :style="photoStyle"></div>
    <div class="grid-item__hover"></div>
    <div class="grid-item__author">
      <span
        >Foto von
        <a target="_blank" :href="photo.user.links.html" utm_source="snippet&utm_medium=referral">
          {{ this.photo.user.name }}
        </a>
        auf
        <a target="_blank" href="https://unsplash.com/" utm_source="snippet&utm_medium=referral"
          >Unsplash
        </a>
      </span>
    </div>
  </div>
</template>

<script>
import { bus } from "./mediaManagerBus"

export default {
  name: "UnsplashGalleryGridItem",
  props: {
    photo: {
      type: Object,
      required: true,
    },
  },
  methods: {
    select() {
      bus.$emit("select-unsplash-image", this.photo)
    },
  },
  computed: {
    photoStyle() {
      return {
        backgroundImage: `url(${this.photo.urls.small})`,
      }
    },
  },
  mounted() {
    const width = this.$el.clientWidth
    const height = (this.photo.height / this.photo.width) * width
    this.$el.style.height = height + "px"
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.grid-item {
  margin: 0 1rem 1rem 0;
  position: relative;
  cursor: pointer;
  &:hover {
    .grid-item__hover {
      background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.25) 0,
        transparent 40%,
        transparent 60%,
        rgba(0, 0, 0, 0.3)
      );
    }
  }
}

.grid-item__photo {
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 1rem;
}

.grid-item__author {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 0.7rem;
  text-align: right;

  a {
    color: #409eff;
  }
}

.grid-item__hover {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
</style>
