<template>
  <div>
    <div class="photo-grid__column" v-for="(columnPhotos, i) in columns(columnNumber)" :key="i">
      <UnsplashGalleryGridItem
        v-for="(photo, i) in columnPhotos"
        :key="photo.id + i"
        :photo="photo"
      ></UnsplashGalleryGridItem>
      <el-button
        style="margin: 0 1rem 1rem 0; height: 10rem"
        v-if="i === columnNumber - 1 && columnPhotos.length !== 0"
        @click="loadImages"
        type=""
        plain
        round
        ><i style="font-size: 2rem; margin-bottom: 0.5rem" class="el-icon-refresh"></i><br />weitere
        Bilder anzeigen</el-button
      >
    </div>
  </div>
</template>

<script>
import UnsplashGalleryGridItem from "./UnsplashGalleryGridItem"
import { bus } from "./mediaManagerBus"

export default {
  name: "UnsplashGalleryGrid",
  components: { UnsplashGalleryGridItem },

  props: {
    photos: {
      required: true,
    },
  },
  data() {
    return {
      columnNumber: 2,
    }
  },
  methods: {
    columns(n) {
      if (this.photos) {
        const result = []
        let columnHights = []

        for (var i = 1; i <= this.columnNumber; i++) {
          result.push([])
          columnHights.push(0)
        }

        let min = 0
        let indexOfMin = 0
        let photoRatio = 0

        this.photos.forEach((photo) => {
          min = Math.min(...columnHights)
          indexOfMin = columnHights.indexOf(min)
          photoRatio = photo.height / photo.width

          columnHights[indexOfMin] += photoRatio
          result[indexOfMin].push(photo)
        })

        return result
      }
    },
    loadImages() {
      bus.$emit("nextBatch")
    },
  },
}
</script>

<style lang="scss" scoped>
.photo-grid__column {
  width: 100%;
}
</style>
