<template>
  <div class="unsplash-gallery">
    <el-input maxlength="40" @change="searchPhotos" v-model="searchTerm" placeholder="Suche"
      ><el-button slot="append" icon="el-icon-search"></el-button
    ></el-input>
    <p>Es werden nur <b>englische Suchbegriffe</b> erkannt!</p>
    <UnsplashGalleryGrid class="photo-grid" :photos="photos"></UnsplashGalleryGrid>
  </div>
</template>

<script>
import axios from "axios"

import { Card } from "vue-shared"
import UnsplashGalleryGrid from "./UnsplashGalleryGrid"

import { bus } from "./mediaManagerBus"

const IMAGE_COUNT = 30 // api page
const BATCH_COUNT = 30

export default {
  name: "unsplash-gallery",
  components: {
    UnsplashGalleryGrid,
    Card,
  },
  props: ["card", "visible"],
  data() {
    return {
      searchTerm: "",
      page: 1,
      layout: 1,
      isLoading: true,
      batch: 1,
      allPhotos: null,
      LIST_LAYOUT: 1,
      GRID_LAYOUT: 2,
      photoCount: 0,
    }
  },
  methods: {
    searchPhotos() {
      this.allPhotos = null
      this.batch = 1
      this.page = 1
      this.fetchData()
    },
    fetchData() {
      return axios
        .get("https://api.unsplash.com/search/photos", {
          params: {
            page: this.page++,
            query: this.searchTerm,
            per_page: IMAGE_COUNT,
            client_id: process.env.VUE_APP_UNSPLASH_KEY,
          },
        })
        .then((res) => {
          if (this.allPhotos == null) {
            this.allPhotos = res.data.results
          } else {
            this.allPhotos = this.allPhotos.concat(res.data.results.slice(2))
          }
          this.isLoading = false
        })
    },
  },
  computed: {
    photos() {
      if (this.allPhotos == null) return null
      this.photoCount = this.allPhotos.length

      return this.allPhotos.slice(0, this.batch * BATCH_COUNT)
    },
  },
  created() {
    bus.$off("nextBatch")
    bus.$on("nextBatch", () => {
      if (this.batch * BATCH_COUNT >= this.photoCount) {
        this.isLoading = true

        this.fetchData().then(() => {
          this.batch++
        })
        this.batch++
      } else {
        this.batch++
      }
    })

    this.fetchData()
  },
}
</script>

<style scoped lang="scss">
.image {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photo-preview-container {
  flex: 1;
  display: flex;
  max-width: 360px;
  min-width: 360px;
  margin-bottom: 2rem;
  flex-direction: column;
  align-items: center;
}

.photo-grid {
  border-top: 1px solid #dcdfe6;
  border-bottom: 1px solid #dcdfe6;
  padding: 1rem 0 1rem 0.5rem;
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 2rem 0;
  min-width: 600px;
  height: 72vh;
  overflow-y: scroll;
}
</style>
