<template>
  <div class="grid-item">
    <div class="grid-item__photo" :style="photoStyle"></div>
    <div class="grid-item__hover" @click="selectPhoto"></div>
    <div class="grid-item__delete" @click="deletePhoto">
      <span>
        <el-icon class="el-icon-delete"></el-icon>
      </span>
    </div>
  </div>
</template>

<script>
import { bus } from "./mediaManagerBus"

export default {
  name: "UserGalleryGridItem",
  props: {
    photo: {
      type: Object,
      required: true,
    },
  },
  methods: {
    selectPhoto() {
      bus.$emit("select-user-image", this.photo)
    },
    deletePhoto() {
      bus.$emit("delete-user-image", this.photo)
    },
  },
  computed: {
    photoStyle() {
      return {
        backgroundImage: `url(${process.env.VUE_APP_MEDIA_ENDPOINT}${this.photo.src})`,
      }
    },
  },
  mounted() {
    const width = this.$el.clientWidth
    const height = (this.photo.height / this.photo.width) * width
    this.$el.style.height = height + "px"
    // this.$el.style.backgroundColor = getRandomColor();
  },
  // components: { Icon },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.grid-item {
  margin: 0 1rem 1rem 0;
  position: relative;
  cursor: pointer;
  &:hover {
    .grid-item__hover {
      background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.25) 0,
        transparent 40%,
        transparent 60%,
        rgba(0, 0, 0, 0.3)
      );
    }
  }
}

.grid-item__photo {
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 8px;
}

.grid-item__delete {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.75rem;
  color: #fff;
  font-size: 1rem;
}

.grid-item__hover {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
</style>
