<template class="user-gallery">
  <div>
    <div v-if="photos.length < tierStore.tier.imageUploadsAmount">
      <Dropzone
        v-if="photos.length < tierStore.tier.imageUploadsAmount"
        id="imageUploadDropzone"
        ref="imageUploadDropzone"
        defaultMsg="Eigenes Bild hochladen"
        :autoProcessQueue="false"
        :maxFiles="1"
        :acceptedFiles="'image/*'"
        @dropzone-fileAdded="dropzoneFileAdded"
      />
      <div class="uploads-counter">
        {{ photos.length }} von {{ tierStore.tier.imageUploadsAmount }} Bildern hochgeladen
      </div>
    </div>
    <div v-else class="uploads-counter">
      Lieber askit Nutzer,<br /><br />
      Du hast die maximale Anzahl von {{ tierStore.tier.imageUploadsAmount }} Bildern in deinem
      askit Paket erreicht.<br /><br />
      Um weitere weitere Bilder hochzuladen, kontaktiere uns oder lösche
      Bilder aus deiner Gallerie.
      <a
        v-if="!tierStore.tier.disableUpgrade"
        :href="tierStore.wooAccountURL"
        target="_blank"
        class="upgrade-btn upgrade-btn__gallery"
        ><i class="upgrade-btn-icon el-icon-upload2" />
        Upgrade
      </a>
    </div>

    <UserGalleryCropper
      v-if="showCropperDialog"
      :imageData="imageData"
      :croppedFileName="croppedFileName"
      @close-cropper="closeCropper"
    />
    <UserGalleryGrid class="photo-grid" :photos="photos"></UserGalleryGrid>
  </div>
</template>

<script>
import { bus } from "./mediaManagerBus"
import getMimeType from "@/utils/get-mime-type"

import Dropzone from "@/components/Dropzone"

import UserGalleryGrid from "./UserGalleryGrid"
import UserGalleryCropper from "./UserGalleryCropper"

import { IMAGES_BY_USER } from "vue-shared"
import { DELETE_IMAGE } from "vue-shared"
import { PURGE_IMAGE_CACHE } from "vue-shared"

import { mapStores } from "pinia"
import { useTierStore } from "@/stores/tier"
import { useAppStore } from "@/stores/app"

export default {
  name: "user-gallery",
  components: {
    UserGalleryGrid,
    UserGalleryCropper,
    Dropzone,
  },
  computed: {
    ...mapStores(useTierStore, useAppStore),

    photos() {
      return this.allPhotos == null ? [] : this.allPhotos
    },
  },
  data() {
    return {
      isLoading: true,
      allPhotos: null,
      showCropperDialog: false,
      imageData: "",
      croppedFileName: "",
    }
  },
  apollo: {
    imagesByUser: {
      query: IMAGES_BY_USER,
      fetchPolicy: "no-cache",
      update(data) {
        this.allPhotos = data.imagesByUser
        this.isLoading = false
      },
    },
  },
  methods: {
    dropzoneFileAdded(file) {
      this.showCropperDialog = true
      // Save file.name with .jpeg file extension
      this.croppedFileName =
        (file.name.substr(0, file.name.lastIndexOf(".")) || file.name) + ".jpeg"
      this.loadImageLocal(file)
    },
    loadImageLocal(file) {
      if (file) {
        // 1. Revoke the object URL, to allow the garbage collector to destroy the previously uploaded file
        if (this.imageData.src) {
          URL.revokeObjectURL(this.imageData.src)
        }
        const blob = URL.createObjectURL(file)

        const reader = new FileReader()
        reader.onload = (e) => {
          this.imageData = {
            src: blob,
            type: getMimeType(e.target.result, file.type),
          }
        }
        reader.readAsArrayBuffer(file)
      }
    },
    closeCropper(image) {
      if (image) this.photos.unshift(image)

      this.$refs.imageUploadDropzone.removeAllFiles(true)
      this.showCropperDialog = false
    },
  },
  destroyed() {
    // Revoke the object URL, to allow the garbage collector to destroy the previously uploaded file
    if (this.imageData.src) {
      URL.revokeObjectURL(this.imageData.src)
    }
  },
  created() {
    bus.$off("delete-user-image")
    bus.$on("delete-user-image", (photo) => {
      this.$confirm("Bild unwiderruflich löschen?", "Bild löschen", {
        confirmButtonText: "Ja",
        cancelButtonText: "Abbrechen",
        confirmButtonClass: "confirm-delete-button",
        type: "warning",
      }).then(() => {
        this.$apollo
          .mutate({
            mutation: DELETE_IMAGE,
            variables: {
              uuid: photo.uuid,
            },
          })
          .then((data) => {
            this.$apollo.queries.imagesByUser.refetch()
            this.$notify({
              message: "Bild gelöscht",
              showClose: true,
              duration: 2000,
              position: "bottom-left",
              type: "info",
            })
            this.$apollo.mutate({
              mutation: PURGE_IMAGE_CACHE,
              variables: {
                src: data.data.deleteImage.src,
              },
            })
          })
      })
    })
  },
}
</script>

<style scoped lang="scss">
.user-gallery {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 0;
  display: flex;
  min-width: 600px;
  flex-wrap: wrap;
  justify-content: center;
}

.uploads-counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  margin: 2rem auto;
  font-weight: 600;
  max-width: 400px;
}

.photo-grid {
  border-top: 1px solid #dcdfe6;
  border-bottom: 1px solid #dcdfe6;
  padding: 1rem 0 1rem 0.5rem;
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 2rem 0;
  min-width: 600px;
  height: 66vh;
  overflow-y: scroll;
}
</style>
