<template>
  <button class="button" v-bind="$attrs" v-on="inputListeners">
    <slot>-</slot>
  </button>
</template>

<script>
export default {
  name: "base-button",
  inheritAttrs: true,
  computed: {
    inputListeners: function () {
      var vm = this
      return Object.assign({}, this.$listeners, {
        click: function (event) {
          vm.$emit("click", event.target.value)
        },
      })
    },
    // cssProps() {
    //   return {
    //     "--background-color": "blue",
    //   };
    // },
  },
}
</script>

<style lang="scss" scoped>
.button {
  z-index: 100;
  background: #76d0eb;
  color: #323232;
  border: none;
  outline: none;
  width: 80%;
  min-height: 44px;
  max-height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.3rem;
  border-radius: 8px;
  margin-top: 1rem;
  cursor: pointer;
  transition: 0.5s;
}

.button:hover {
  background-color: #76d0eb;
  color: white;
}

button:disabled,
button[disabled] {
  background-color: #cccccc;
  color: #777;
}
</style>
