<template>
  <div :class="classObj" class="app-wrapper">
    <div
      v-if="device === 'mobile' && sidebar.opened"
      class="drawer-bg"
      @click="handleClickOutside"
    />
    <TheSidebar class="sidebar-container" />
    <div class="main-container">
      <div>
        <TheNavbar />
      </div>
      <TheBody />
      <el-dialog
        :visible="appStore.mediaManager.opened"
        @close="closeMediaManager()"
        custom-class="media-manager-dialog"
      >
        <TheMediaManager v-if="appStore.mediaManager.opened" />
      </el-dialog>
      <el-dialog
        :visible="appStore.limitDialog.opened"
        @close="closeLimitDialog()"
        custom-class="limit-dialog"
      >
        Lieber askit Nutzer,<br /><br />
        {{ generatedLimitText }}
      </el-dialog>
    </div>
  </div>
</template>

<script>
import { mapStores } from "pinia"
import { useTierStore } from "@/stores/tier"
import { useAppStore } from "@/stores/app"

import { TheNavbar, TheSidebar, TheBody } from "./components"
import TheMediaManager from "@/components/TheMediaManager/TheMediaManager"
import ResizeMixin from "./mixin/ResizeHandler"

export default {
  name: "Layout",
  components: {
    TheNavbar,
    TheSidebar,
    TheBody,
    TheMediaManager,
  },
  mixins: [ResizeMixin],
  computed: {
    ...mapStores(useTierStore, useAppStore),

    sidebar() {
      return this.appStore.sidebar
    },
    device() {
      return this.appStore.device
    },
    classObj() {
      return {
        hideSidebar: !this.sidebar.opened && this.device === "mobile",
        openSidebar: this.sidebar.opened,
        withoutAnimation: this.sidebar.withoutAnimation,
        mobile: this.device === "mobile",
      }
    },
    generatedLimitText() {
      switch (this.appStore.limitDialog.limitType) {
        case "poll":
          return "Du hast die maximale Anzahl an Umfragen in deinem askit Paket erreicht. Für weitere Umfragen kontaktiere uns unter info@askit.de."
        case "question":
          return "Du hast die maximale Anzahl an Fragen in deinem askit Paket erreicht. Für mehr Fragen kontaktiere uns unter info@askit.de."
        case "wordcloud":
          return "Um das Wordwolken Tool freizuschalten kontaktiere uns unter info@askit.de."
        case "analysis":
          return "Das Filtern von Antworten ist in deinem Paket nicht enthalten. Um dieses freizuschalten kontaktiere uns unter info@askit.de."
      }
    },
  },
  methods: {
    handleClickOutside() {
      this.appStore.closeSideBar()
    },
    closeMediaManager() {
      if (this.appStore.mediaManager.opened) {
        this.appStore.toggleMediaManager({ context: "", card: null })
      }
    },
    closeLimitDialog() {
      if (this.appStore.limitDialog.opened) {
        this.appStore.toggleLimitDialog({ limitType: null })
      }
    },
  },
  // mounted() {
  //   // Remove saved activePollId from local storage when Dashboard is activly selected in Menu
  //   document
  //     .querySelectorAll('[href="#/dashboard"]')[0]
  //     .addEventListener("click", () =>
  //       localStorage.removeItem("snippet-poll-id")
  //     );
  // },
}
</script>

<style lang="scss" scoped>
@import "~@/styles/mixin.scss";
@import "~@/styles/variables.scss";

.app-wrapper {
  @include clearfix;
  position: relative;
  height: 100%;
  width: 100%;

  &.mobile.openSidebar {
    position: fixed;
    top: 0;
  }
}

.drawer-bg {
  background: #000;
  opacity: 0.3;
  width: 100%;
  top: 0;
  height: 100%;
  position: absolute;
  z-index: 999;
}

.fixed-header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
  width: calc(100% - #{$sideBarWidth});
  transition: width 0.28s;
}

.hideSidebar .fixed-header {
  width: calc(100% - 54px);
}

.mobile .fixed-header {
  width: 100%;
}
</style>

<style lang="scss">
.media-manager-dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 980px;
  max-width: 1020px;
  margin-bottom: 1rem;
  margin-top: 2rem !important;
}

.limit-dialog {
  min-width: 600px;
  max-width: 600px;
  background: var(--secundary-color);
  margin-top: 20vh !important;

  .el-dialog__header {
    display: none;
  }

  .el-dialog__body {
    line-height: 1.3;
    padding: 2.5rem 3rem 3rem 3rem !important;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
  }
}

</style>
