<template>
  <div>
    <div v-if="card.__typename === 'UserAnswerYesOrNoType' && showThrowOutOverlay">
      <ThrowOutOverlay
        :direction="'right'"
        :icon="'check'"
        :color="'#9cdc59'"
        :throwOutEvent="throwOutEvent"
      />
      <ThrowOutOverlay
        :direction="'left'"
        :icon="'close'"
        :color="'#da495a'"
        :throwOutEvent="throwOutEvent"
      />
      <ThrowOutOverlay
        :direction="'down'"
        :icon="'action-undo'"
        :color="'#ccc'"
        :throwOutEvent="throwOutEvent"
      />
      <ThrowOutOverlay
        :direction="'up'"
        :icon="'action-undo'"
        :color="'#ccc'"
        :throwOutEvent="throwOutEvent"
      />
    </div>
    <CardYesOrNo
      class="card"
      v-if="card.__typename === 'UserAnswerYesOrNoType'"
      @flip="flipCard()"
      @cardrequest="requestNewCard()"
      ref="typecard"
      :card="card"
      :showCardBack="showCardBack"
      :throwOutEvent="throwOutEvent"
    />
    <div v-if="card.__typename === 'UserAnswerOpenType' && showThrowOutOverlay">
      <!-- <ThrowOutOverlay :direction='"right"' :icon='"doc"' :color='"#4A90E2"' :throwOutEvent='throwOutEvent'/>
        <ThrowOutOverlay :direction='"left"' :icon='"doc"' :color='"#4A90E2"' :throwOutEvent='throwOutEvent'/> -->
      <ThrowOutOverlay
        :direction="'down'"
        :icon="'action-undo'"
        :color="'#ccc'"
        :throwOutEvent="throwOutEvent"
      />
      <ThrowOutOverlay
        :direction="'up'"
        :icon="'action-undo'"
        :color="'#ccc'"
        :throwOutEvent="throwOutEvent"
      />
    </div>
    <CardOpen
      class="card"
      v-if="card.__typename === 'UserAnswerOpenType'"
      @flip="flipCard()"
      @cardrequest="requestNewCard()"
      ref="typecard"
      :card="card"
      :showCardBack="showCardBack"
      :throwOutEvent="throwOutEvent"
    />
    <div v-if="card.__typename === 'UserAnswerMultipleType' && showThrowOutOverlay">
      <!-- <ThrowOutOverlay :direction='"right"' :icon='"doc"' :color='"#4A90E2"' :throwOutEvent='throwOutEvent'/>
        <ThrowOutOverlay :direction='"left"' :icon='"doc"' :color='"#4A90E2"' :throwOutEvent='throwOutEvent'/> -->
      <ThrowOutOverlay
        :direction="'down'"
        :icon="'action-undo'"
        :color="'#ccc'"
        :throwOutEvent="throwOutEvent"
      />
      <ThrowOutOverlay
        :direction="'up'"
        :icon="'action-undo'"
        :color="'#ccc'"
        :throwOutEvent="throwOutEvent"
      />
    </div>
    <CardMultiple
      class="card"
      v-if="card.__typename === 'UserAnswerMultipleType'"
      @flip="flipCard()"
      @cardrequest="requestNewCard()"
      ref="typecard"
      :card="card"
      :showCardBack="showCardBack"
      :throwOutEvent="throwOutEvent"
    />
    <div v-if="card.__typename === 'UserAnswerSingleType' && showThrowOutOverlay">
      <!-- <ThrowOutOverlay :direction='"right"' :icon='"doc"' :color='"#4A90E2"' :throwOutEvent='throwOutEvent'/>
        <ThrowOutOverlay :direction='"left"' :icon='"doc"' :color='"#4A90E2"' :throwOutEvent='throwOutEvent'/> -->
      <ThrowOutOverlay
        :direction="'down'"
        :icon="'action-undo'"
        :color="'#ccc'"
        :throwOutEvent="throwOutEvent"
      />
      <ThrowOutOverlay
        :direction="'up'"
        :icon="'action-undo'"
        :color="'#ccc'"
        :throwOutEvent="throwOutEvent"
      />
    </div>
    <CardSingle
      class="card"
      v-if="card.__typename === 'UserAnswerSingleType'"
      @flip="flipCard()"
      @cardrequest="requestNewCard()"
      ref="typecard"
      :card="card"
      :showCardBack="showCardBack"
      :throwOutEvent="throwOutEvent"
    />
    <div v-if="card.__typename === 'UserAnswerRangeType' && showThrowOutOverlay">
      <!-- <ThrowOutOverlay :direction='"right"' :icon='"doc"' :color='"#4A90E2"' :throwOutEvent='throwOutEvent'/>
        <ThrowOutOverlay :direction='"left"' :icon='"doc"' :color='"#4A90E2"' :throwOutEvent='throwOutEvent'/> -->
      <ThrowOutOverlay
        :direction="'down'"
        :icon="'action-undo'"
        :color="'#ccc'"
        :throwOutEvent="throwOutEvent"
      />
      <ThrowOutOverlay
        :direction="'up'"
        :icon="'action-undo'"
        :color="'#ccc'"
        :throwOutEvent="throwOutEvent"
      />
    </div>
    <CardRange
      class="card"
      v-if="card.__typename === 'UserAnswerRangeType'"
      @flip="flipCard()"
      @cardrequest="requestNewCard()"
      ref="typecard"
      :card="card"
      :showCardBack="showCardBack"
      :throwOutEvent="throwOutEvent"
    />
    <div v-if="card.__typename === 'UserAnswerExplainerType' && showThrowOutOverlay">
      <!-- <ThrowOutOverlay :direction='"right"' :icon='"doc"' :color='"#4A90E2"' :throwOutEvent='throwOutEvent'/>
      <ThrowOutOverlay :direction='"left"' :icon='"doc"' :color='"#4A90E2"' :throwOutEvent='throwOutEvent'/> 
      <ThrowOutOverlay :direction='"down"' :icon='"action-undo"' :color='"#ccc"' :throwOutEvent='throwOutEvent'/>
        <ThrowOutOverlay :direction='"up"' :icon='"action-undo"' :color='"#ccc"' :throwOutEvent='throwOutEvent'/>-->
    </div>
    <CardExplainer
      class="card"
      v-if="card.__typename === 'UserAnswerExplainerType'"
      @flip="flipCard()"
      @cardrequest="requestNewCard()"
      ref="typecard"
      :card="card"
      :showCardBack="showCardBack"
      :throwOutEvent="throwOutEvent"
    />
  </div>
</template>

<script>
import CardOpen from "./CardOpen"
import CardYesOrNo from "./CardYesOrNo"
import CardMultiple from "./CardMultiple"
import CardSingle from "./CardSingle"
import CardRange from "./CardRange"
import CardExplainer from "./CardExplainer"
import ThrowOutOverlay from "./ThrowOutOverlay"

export default {
  name: "Card",
  props: {
    card: {
      type: Object,
      required: true,
    },
    throwOutEvent: {},
    showCardBack: {
      type: Boolean,
      default: false,
    },
    showThrowOutOverlay: {
      type: Boolean,
      default: true,
    },
  },
  components: {
    CardOpen,
    CardYesOrNo,
    CardMultiple,
    CardSingle,
    CardRange,
    CardExplainer,
    ThrowOutOverlay,
  },
  data() {
    return {}
  },
  methods: {
    throwOutRight() {
      this.$refs.typecard.throwOutRight()
    },
    throwOutLeft() {
      this.$refs.typecard.throwOutLeft()
    },

    flipCard() {
      this.$emit("flip")
    },
    requestNewCard() {
      this.$emit("cardrequest")
    },
  },
}
</script>

<style scoped lang="scss">
.card {
  z-index: 50;
  position: relative;
  margin-top: 10vh;
  height: 74vh;
  width: 88vw;
  max-height: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  overflow: hidden;
  word-break: normal;

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #d9d9d9;
  }

  ::-webkit-scrollbar-thumb {
    background: #999999;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
</style>
