<template>
  <div
    :style="{ backgroundImage: 'url(' + card.question.questionImagelink + ')' }"
    class="question-image-text"
  >
    <div class="overlay"></div>
    <span class="question-text">{{ card.question.questionText }}</span>
  </div>
</template>

<script>
export default {
  name: "CardQuesitonContainer",
  props: ["card"],
}
</script>

<style scoped lang="scss">
.question-image-text {
  position: relative;
  background-repeat: no-repeat;
  // background-size: 19.6875rem 23.625rem;
  background-size: cover;
  // background-attachment: fixed;
  background-position: center;
  display: flex;
  width: 100%;
  flex: 4;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.overlay {
  opacity: 0.5;
  background-color: black;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.question-text {
  z-index: 50;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
  width: 80%;
}
</style>
