<template>
  <div>
    <div class="question-container">
      <CardQuestionContainer :card="card" />
      <div v-if="scaleType == 'continuous'" class="question-slider continuous">
        <span style="font-size: 1.5rem; margin-right: 0.1rem">1️⃣</span>
        <vue-slider
          :key="card.question.id"
          ref="slider"
          @change="showAnswerConfirmationBtn = true"
          @drag-start="isPending = true"
          @drag-end="isPending = false"
          style="margin: 0 16px"
          v-model="sliderValue"
          v-bind="sliderOptionsContinuous"
          :data="scaleData"
        >
          <template v-slot:tooltip>
            <div
              v-if="(!isAnswered && !optimisticIsAnswered) || isPending"
              class="tooltip continuous"
              @click="handleTooltipClick()"
            >
              🤔
            </div>
            <div v-else class="tooltip continuous">😊</div>
          </template>
        </vue-slider>

        <span style="font-size: 1.5rem; margin-right: 0.1rem">🔟</span>
      </div>
      <div v-if="scaleType == 'interval'" class="question-slider interval">
        <vue-slider
          :key="card.question.id"
          ref="slider"
          @change="showAnswerConfirmationBtn = true"
          @drag-start="isPending = true"
          @drag-end="isPending = false"
          style="margin: 0 20px"
          v-model="sliderValue"
          v-bind="sliderOptionsInterval"
          :data="scaleData"
        >
          <template v-slot:tooltip>
            <div
              v-if="(!isAnswered && !optimisticIsAnswered) || isPending"
              class="tooltip interval"
              @click="handleTooltipClick()"
            >
              🤔
            </div>
            <div v-else class="tooltip interval answered">😊</div>
          </template>
        </vue-slider>
      </div>
      <BaseButton
        v-show="showAnswerConfirmationBtn"
        class="question-slider-confirmation-btn"
        @click="saveCardAnswer()"
        >{{ $t("question.open.btn-send") }}</BaseButton
      >
    </div>
  </div>
</template>

<script>
import CardQuestionContainer from "./CardQuesitonContainer"

import VueSlider from "vue-slider-component"

// GraphQL
import UPDATE_USER_ANSWER_RANGE from "../../graphql/userAnswers/updateUserAnswerRange.gql"

export default {
  name: "CardRange",
  props: ["card", "throwOutEvent"],
  components: {
    CardQuestionContainer,
    VueSlider,
  },
  data() {
    let scale = JSON.parse(this.card.question.scale.replace(/&#44;/g, ",").replace(/'/g, '"'))
    return {
      showAnswerConfirmationBtn: false,
      isPending: false,
      optimisticIsAnswered: false,
      sliderValue: this.card.answerScaleKey > -1 ? scale[this.card.answerScaleKey] : -1,
      sliderOptionsContinuous: {
        width: "100%",
        height: 8,
        dotSize: 24,
        lazy: true,
        clickable: true,
        duration: 0.3,
        tooltip: "always",
        marks: false,
        dotOptions: {
          style: { border: "2px solid rgba(74, 144, 226, 1)" },
          focusStyle: { "box-shadow": "0 0 10px 0 rgba(74, 144, 226, 0.5)" },
        },
        processStyle: { background: "rgba(74, 144, 226, 1)" },
      },

      sliderOptionsInterval: {
        width: "100%",
        height: 8,
        dotSize: 24,
        lazy: true,
        adsorb: true,
        duration: 0.3,
        clickable: true,
        // data: ["eins", "zwei", "drei"],
        tooltip: "always",
        tooltipPlacement: "top",
        markPlacement: "top",
        marks: true,
        // labelStyle: {},
        dotOptions: {
          style: { border: "2px solid rgba(74, 144, 226, 1)" },
          focusStyle: { "box-shadow": "0 0 10px 0 rgba(74, 144, 226, 0.5)" },
          //Blue  74, 144, 226
          //Green  126, 211, 33
        },
        processStyle: { background: "none" },
        // stepStyle: {"box-shadow": "0 0 0 2px  rgba(74, 144, 226, 1)"},
        stepActiveStyle: {
          "box-shadow": "0 0 0 2px  #e8e8e8",
        },
      },
    }
  },
  computed: {
    scaleType() {
      return this.card.question.scaleType
    },
    isAnswered() {
      return this.sliderValue != -1 ? true : false
    },
    scaleData() {
      return JSON.parse(this.card.question.scale.replace(/&#44;/g, ",").replace(/'/g, '"'))
    },
  },
  watch: {
    "card.question.scale": {
      deep: true,
      handler() {
        this.showAnswerConfirmationBtn = false
        this.sliderValue = -1
      },
    },
  },
  methods: {
    handleTooltipClick() {
      if (this.card.answerScaleKey == -1 && this.sliderValue == -1) {
        this.showAnswerConfirmationBtn = true
        this.optimisticIsAnswered = true
      }
    },
    saveCardAnswer() {
      const questionId = this.card.question.id
      const answerScaleKey = this.$refs.slider.getIndex() == -1 ? 0 : this.$refs.slider.getIndex()
      this.$apollo
        .mutate({
          mutation: UPDATE_USER_ANSWER_RANGE,
          variables: {
            questionId: questionId,
            answerScaleKey: answerScaleKey,
          },
        })
        .then(() => {
          this.$emit("cardrequest")
        })
    },
  },
  mounted() {
    // this.scale = JSON.parse(
    //   this.card.question.scale.replace(/&#44;/g, ",").replace(/'/g, '"')
    // );
    // scale.forEach((value) => {
    //   if (isNaN(parseInt(value))) {
    //     this.scaleType = "interval";
    //     return;
    //   } // else slider type is continuous by default
    // });
  },
}
</script>

<style scoped lang="scss">
.question-container {
  z-index: 50;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.question-slider {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  max-width: 88%;
  width: 75vw;
  height: 16vh;
  align-items: flex-end;
  z-index: 100;

  &.continuous {
    align-items: center;
  }

  &.interval > div {
    margin-bottom: 24px !important;
  }
}

.question-slider-confirmation-btn {
  margin: -1rem 0 1.5rem 0 !important;
  padding: 0;
}

.tooltip {
  font-size: 2rem;
  margin-bottom: -3rem;
  background: none;
  width: 32px;
  height: 0;

  &.continuous {
    margin-bottom: -3rem;
  }

  &.answered {
    margin-bottom: -3rem;
  }
}
</style>

<style>
/* component style */
.vue-slider-disabled .vue-slider-process {
  background-color: #a7a7a7;
}
.vue-slider-disabled .vue-slider-dot-handle {
  border-color: #a7a7a7;
}
.vue-slider-disabled .vue-slider-mark-step-active {
  box-shadow: 0 0 0 2px #a7a7a7;
}

/* rail style */
.vue-slider-rail {
  background-color: whitesmoke;
  border-radius: 15px;
  transition: background-color 0.3s;
}
.vue-slider:hover .vue-slider-rail {
  background-color: #e1e1e1;
}

/* process style */
.vue-slider-process {
  background-color: transparent !important;
  border-radius: 15px;
  transition: background-color 0.3s;
}
.vue-slider:hover .vue-slider-process {
  background-color: #69c0ff;
}

/* mark style */
.vue-slider-mark-step {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #e8e8e8;
  background-color: #fff;
}
.vue-slider-mark-step-active {
  box-shadow: 0 0 0 2px #9cd5ff;
}
.vue-slider:hover .vue-slider-mark-step-active {
  box-shadow: 0 0 0 2px #69c0ff;
}

.vue-slider-mark-label {
  min-width: 2rem;
  transform: translate(-50%, -100%) !important;
  margin-top: 0 !important;
  top: -16px !important;
  font-size: 12px;
  text-align: center;
  white-space: pre-wrap;
  background: #fff;
  padding: 5px;
  border-radius: 3px;
}
/* dot style */
.vue-slider-dot-handle {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #9cd5ff;
  box-sizing: border-box;
  transition: box-shadow 0.3s, border-color 0.3s;
}
.vue-slider:hover .vue-slider-dot-handle {
  border-color: #69c0ff;
}

.vue-slider-dot-handle-focus {
  border-color: #36abff;
  box-shadow: 0 0 0 5px rgba(54, 171, 255, 0.2);
}
.vue-slider:hover .vue-slider-dot-handle-focus {
  border-color: #36abff;
}

.vue-slider-dot-handle:hover {
  border-color: #36abff;
}
.vue-slider:hover .vue-slider-dot-handle:hover {
  border-color: #36abff;
}

.vue-slider-dot-handle-disabled {
  cursor: not-allowed;
  border-color: #ddd !important;
}

.vue-slider-dot-tooltip-inner {
  font-size: 14px;
  white-space: nowrap;
  padding: 6px 8px;
  color: #fff;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0.75);
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  transform: scale(0.9);
  transition: transform 0.3s;
}
.vue-slider-dot-tooltip-inner::after {
  content: "";
  position: absolute;
}
.vue-slider-dot-tooltip-inner-top::after {
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-top-color: inherit;
}
.vue-slider-dot-tooltip-inner-bottom::after {
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-bottom-color: inherit;
}
.vue-slider-dot-tooltip-inner-left::after {
  left: 100%;
  top: 50%;
  transform: translate(0, -50%);
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-left-color: inherit;
}
.vue-slider-dot-tooltip-inner-right::after {
  right: 100%;
  top: 50%;
  transform: translate(0, -50%);
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-right-color: inherit;
}
.vue-slider-dot-tooltip-inner-top {
  transform-origin: 50% 100%;
}
.vue-slider-dot-tooltip-inner-bottom {
  transform-origin: 50% 0;
}
.vue-slider-dot-tooltip-inner-left {
  transform-origin: 100% 50%;
}
.vue-slider-dot-tooltip-inner-right {
  transform-origin: 0% 50%;
}

.vue-slider-dot:hover .vue-slider-dot-tooltip,
.vue-slider-dot-tooltip-show {
  opacity: 1;
  visibility: visible;
}
.vue-slider-dot:hover .vue-slider-dot-tooltip .vue-slider-dot-tooltip-inner,
.vue-slider-dot-tooltip-show .vue-slider-dot-tooltip-inner {
  transform: scale(1);
}

/*# sourceMappingURL=antd.css.map */
</style>
