<template>
  <div>
    <div class="question-container">
      Projekttitel
      <BaseHeading :level="1">{{ card.question.questionText }}</BaseHeading>
      <div class="question-container-explainer-text">
        <BaseParagraph v-html="card.question.explainerText"></BaseParagraph>
        <BaseButton @click="markAsRed()"> Jetzt abstimmen </BaseButton>
      </div>
    </div>
  </div>
</template>

<script>
// GraphQL
import UPDATE_USER_ANSWER_EXPLAINER from "../../graphql/userAnswers/updateUserAnswerExplainer.gql"

export default {
  name: "CardExplainer",
  props: ["card", "showCardBack", "throwOutEvent"],
  data() {
    return {
      answerText: this.card.answerText,
      inputIsFocused: false,
    }
  },
  methods: {
    markAsRed() {
      const questionId = this.card.question.id

      this.$apollo
        .mutate({
          mutation: UPDATE_USER_ANSWER_EXPLAINER,
          variables: {
            questionId: questionId,
          },
        })
        .then(() => {
          this.$emit("cardrequest")
        })
    },
  },
}
</script>

<style scoped lang="scss">
.question-container {
  z-index: 50;
  font-size: 0.9rem;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  box-sizing: border-box;
  padding: 4vh 4vw 0vh 4vw;

  h1 {
    width: auto !important;
    font-weight: bold;
    font-size: 1.3rem;
  }

  .question-container-explainer-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vh 3vw 4vh 3vw;
    padding: 0 0 3vh 0;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    height: auto;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    .paragraph {
      hyphens: auto;
      width: 100%;
      font-size: 1rem;
      line-height: 1.5;
      text-align: left;
    }
  }
}

.question-navigation {
  display: flex;
  width: 100%;
  flex: 1;
  align-self: flex-end;
  justify-content: center;
  margin-bottom: 2rem;
  // box-shadow: 0 0 6px 0 rgba(0,0,0,0.25);
}

.button-offset {
  z-index: 100 !important;
  margin-top: -1.6rem !important;
}
</style>
