<template>
  <div>
    <div class="bar-chart-container">
      <VerticalBarChart :options="chartOptions" :chart-data="dataCollection"></VerticalBarChart>
    </div>

    <ExportButtons :userAnswerCollection="userAnswerCollection" :labels="labels" />
  </div>
</template>

<script>
import ExportButtons from "@/components/ExportButtons/ExportButtons.vue"
import VerticalBarChart from "./charts/VerticalBarChart"

export default {
  name: "AnalyticsChartRange",
  components: {
    VerticalBarChart,
    ExportButtons,
  },
  props: ["userAnswerCollection"],
  data() {
    return {
      isConvertingToText: false,
      chartOptions: {},
      labels: [],
    }
  },
  computed: {
    dataCollection() {
      return {
        labels: this.labels,
        datasets: [
          {
            label: "",
            backgroundColor: "#6662F0",
            data: this.userAnswerCollection.userAnswersCounted,
          },
        ],
      }
    },
  },
  beforeMount() {
    this.labels = this.userAnswerCollection.formatedOptions

    this.chartOptions = {
      title: {
        display: true,
        position: "bottom",
        padding: 10,
        fontStyle: "400",
        text: `von ${this.userAnswerCollection.participantsCount} Antworten`,
      },
      legend: {
        display: false,
      },
      maintainAspectRatio: false,
      responsive: true,
      devicePixelRatio: 2,
      plugins: {
        datalabels: {
          font: {
            weight: "bold",
          },
          color: "#000",
          align: "end",
          anchor: "start",
          formatter: (value, ctx) => {
            let percentage = ((value * 100) / this.userAnswerCollection.participantsCount).toFixed(
              0
            )
            if (percentage == 0) {
              return ""
            }
            return percentage + "%"
          },
        },
      },
      scales: {
        xAxes: [{}],
        yAxes: [
          {
            ticks: {
              callback: function (value) {
                if (value % 1 === 0) {
                  return value
                }
              },
            },
          },
        ],
      },
    }
  },
}
</script>

<style lang="scss" scoped>
.bar-chart-container {
  > div {
    position: relative;
    height: 360px;
    max-width: 600px;
  }
}
</style>
