<template>
  <div>
    <div style="max-width: 800px">
      <wordcloud
        :data="wordcloudStore.ngrams"
        nameKey="string"
        valueKey="count"
        :color="['#4744A8', '#6662F0', '#B2B0F7']"
        :showTooltip="false"
        font="Open Sans"
        :wordClick="() => {}"
        :rotate="{ from: -0, to: 0, numOfOrientation: 0 }"
      >
      </wordcloud>
      <el-switch
        class="wordlist-tool-switch"
        @change="toggleWordlistTool()"
        :value="wordcloudStore.showWordcloudEditor"
        active-text="Wortliste manuell bearbeiten"
      />
      <el-button @click="showResetNgramsDialog = true" size="medium" icon="el-icon-refresh-left"
        >Wortliste aktualisieren</el-button
      >
      <ExportButtons :userAnswerCollection="userAnswerCollection" :labels="null" />
    </div>

    <el-dialog
      :visible.sync="showResetNgramsDialog"
      title="Wortliste Aktualisieren"
      @open="resetNgramsInput = ''"
      append-to-body
    >
      <span>
        Durch das Aktualisieren der Wortliste, lädst du neue Antworten in das Wortwolken-Tool. Deine
        manuellen Bearbeitungen gehen jedoch verloren.
      </span>
      <br />
      <br />
      <el-input
        maxlength="13"
        show-word-limit
        v-model="resetNgramsInput"
        placeholder="AKTUALISIEREN eingeben zum aktualisieren"
        size="medium"
      ></el-input>
      <span slot="footer" class="dialog-footer">
        <el-button
          :disabled="resetNgramsInput != 'AKTUALISIEREN'"
          size="medium"
          icon="el-icon-refresh-left"
          class="reset_button"
          @click="resetNgrams"
        >
          aktualisieren</el-button
        >
      </span>
    </el-dialog>

    <TheWordcloudEditor />
  </div>
</template>

<script>
import { mapStores } from "pinia"
import { usePollStore } from "@/stores/polls"
import { useTierStore } from "@/stores/tier"
import { useAppStore } from "@/stores/app"
import { useWordcloudStore } from "@/stores/wordcloud"

import wordcloud from "vue-wordcloud"

import ExportButtons from "@/components/ExportButtons/ExportButtons"
import TheWordcloudEditor from "@/components/TheWordcloudEditor/TheWordcloudEditor"

import { NGRAMS_USER_ANSWERS_OPEN } from "vue-shared"

export default {
  name: "AnalyticsChartOpen",
  components: {
    wordcloud,
    ExportButtons,
    TheWordcloudEditor,
  },
  props: {
    userAnswerCollection: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      selectedNgrams: [],
      preSaveNgrams: [],

      // reset ngrams
      showResetNgramsDialog: false,
      resetNgramsInput: "",
    }
  },
  computed: {
    ...mapStores(useWordcloudStore),
  },
  apollo: {
    ngramsUserAnswersOpen: {
      query: NGRAMS_USER_ANSWERS_OPEN,
      fetchPolicy: "network-only",
      variables() {
        return {
          questionId: this.userAnswerCollection.question.id,
          resetFlag: false,
          userIds: usePollStore().activePoll.pollFilterQuestionUserIds,
        }
      },
      update(data) {
        let ngramsJson = JSON.parse(data.ngramsUserAnswersOpen)

        this.wordcloudStore.ngrams = []
        ngramsJson.ngrams.forEach((ngram) => {
          this.wordcloudStore.ngrams.push({ string: ngram[0], count: parseInt(ngram[1]) })
        })
        this.wordcloudStore.ngrams.map((v) => {
          this.$set(v, "stringEdit", false)
          this.$set(v, "countEdit", false) // https://vuejs.org/v2/guide/reactivity.html
          v.originalString = v.string //  will be used when user click the cancel botton
          v.originalCount = parseInt(v.count)
          return v
        })
        this.preSaveNgrams = JSON.stringify(this.wordcloudStore.ngrams)
      },
    },
  },
  methods: {
    toggleWordlistTool() {
      if (useTierStore().tier.wordcloudEditor) {
        this.wordcloudStore.showWordcloudEditor = !this.wordcloudStore.showWordcloudEditor
      } else {
        useAppStore().toggleLimitDialog({ limitType: "wordcloud" })
      }
    },
    resetNgrams() {
      this.$apollo.queries.ngramsUserAnswersOpen
        .refetch({
          resetFlag: true,
        })
        .then(() => {
          this.showResetNgramsDialog = false
          this.resetNgramsInput = ""
        })
    },
  },
}
</script>

<style lang="scss" scoped>
.wordlist-tool-switch {
  margin-right: 4rem;
}

.dialog-footer {
  margin: 0 auto 0 auto;
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, -50%);
}
</style>
