<template>
  <div class="question-counter">
    <span class="question-counter-text"></span>{{ questionStore.questions.length }} /
    <span class="question-counter-text"></span>{{ tierStore.tier.questionsAmount }}
  </div>
</template>

<script>
import { mapStores } from "pinia"
import { useQuestionStore } from "@/stores/questions"
import { useTierStore } from "@/stores/tier"

export default {
  name: "QuestionCounter",
  computed: {
    ...mapStores(useQuestionStore, useTierStore),
  },
}
</script>

<style lang="scss" scoped>
.question-counter {
  margin-top: 1rem;
  font-weight: 600;

  &-text {
    color: var(--text-color);
    margin: 0 2px;
  }
}
</style>
