<template>
  <el-form-item label="Skalentyp">
    <el-select
      @change="changeScaleType()"
      class="question-select-dropdown"
      v-model="questionStore.pendingQuestion.scaleType"
      placeholder="Suche"
    >
      <el-option label="Fließend (1-10)" value="continuous"></el-option>
      <el-option label="Schritte" value="interval"></el-option>
    </el-select>
  </el-form-item>
</template>

<script>
import { mapStores } from "pinia"
import { useQuestionStore } from "@/stores/questions"

import { generateDefaultContinuousScale } from "@/utils/question-helpers"

export default {
  name: "QuestionAddFormScaleSelector",
  computed: {
    ...mapStores(useQuestionStore),
  },
  methods: {
    changeScaleType() {
      // Changes the scaleType and sets default for interval scale if empty.
      // Also you don't lose the data of the interval scale while switching (until you save)
      let { scaleType, scaleForm, previousScale } = this.questionStore.pendingQuestion

      let defaultIntervalScale = [{ value: "ja" }, { value: "vielleicht" }, { value: "nein" }]

      if (scaleType == "continuous") {
        scaleType = "continuous"
        previousScale = scaleForm
        scaleForm = generateDefaultContinuousScale()
      } else if (scaleType == "interval") {
        scaleType = "interval"
        if (previousScale && previousScale.length > 0) {
          scaleForm = previousScale
          previousScale = []
        } else {
          scaleForm = defaultIntervalScale
        }
      }
    },
  },
}
</script>

<style lang="scss" scoped></style>
