<template>
  <div class="card-preview-container">
    <Card
      :card="wrappedQuestion"
      :showCardBack="true"
      :showThrowOutOverlay="false"
      style="height: 420px; width: 284px"
    />
    <Card
      v-if="
        !wrappedQuestion.__typename.includes('Range') &&
        !wrappedQuestion.__typename.includes('YesOrNo')
      "
      :card="wrappedQuestion"
      :showThrowOutOverlay="false"
      style="height: 420px; width: 284px"
    />
  </div>
</template>

<script>
import { Card } from "vue-shared"

export default {
  name: "QuestionAddFormPreview",
  components: { Card },
  props: {
    wrappedQuestion: {
      type: Object,
      required: true,
    },
  },
}
</script>

<style lang="scss" scoped>
.card-preview-container {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
  justify-content: center;
  margin: -10vh 0 10vh 0 !important;

  & > * {
    margin-left: 1.25rem;
  }
}
</style>
