<template>
  <el-dialog
    :title="dialogTitle"
    :visible.sync="questionStore.dialogQuestionFormVisible"
    custom-class="question-dialog"
    width="80vw"
    top="10vh"
  >
    <div class="question-dialog-content">
      <el-form
        :model="questionStore.pendingQuestion"
        class="question-dialog-form"
        ref="dataForm"
        label-position="left"
        label-width="100px"
      >
        <!-- Question Text -->
        <el-form-item label="Frage">
          <el-input
            v-model="questionStore.pendingQuestion.questionText"
            maxlength="140"
            show-word-limit
          />
          <ValidationWarning v-show="questionStore.showMissingQuestionTextMsg">
            Fragetext darf nicht leer bleiben.
          </ValidationWarning>
        </el-form-item>

        <!-- Image -->
        <el-form-item label="Bild">
          <el-button @click="openMediaManager" type="primary" icon="el-icon-picture-outline"
            >Auswählen
          </el-button>
        </el-form-item>

        <!-- Single/Multiple-Choice Form -->
        <!-- futurama: maxOptions = 24 nur für superadmin sonst 12 -->
        <QuestionAddFormOptions
          v-if="questionStore.pendingQuestion.optionsForm"
          label="Optionen"
          :options="questionStore.pendingQuestion.optionsForm"
          maxOptions="24"
        />

        <!-- Range/Scale Form -->
        <div v-if="questionStore.pendingQuestion.scaleForm">
          <QuestionAddFormScaleSelector />
          <QuestionAddFormOptions
            v-if="questionStore.pendingQuestion.scaleType == 'interval'"
            label="Skala"
            :options="questionStore.pendingQuestion.scaleForm"
            maxOptions="5"
          />
        </div>

        <!-- Form validation messages -->
        <el-form-item style="margin-top: -1rem">
          <ValidationWarning v-show="questionStore.showMissingOptionsMsg">
            Frage benötigt mindestens <strong>zwei</strong> Auswahloptionen.
          </ValidationWarning>
          <ValidationWarning v-show="questionStore.showMissingOptionTextMsg">
            Optionen-Text darf nicht leer bleiben.
          </ValidationWarning>
        </el-form-item>
      </el-form>

      <!-- Card-Preview -->
      <QuestionAddFormPreview :wrappedQuestion="questionStore.wrappedPendingQuestion" />
    </div>
    <div slot="footer">
      <el-button type="primary" @click="questionStore.saveQuestion()">Speichern</el-button>
    </div>
  </el-dialog>
</template>

<script>
import { mapStores } from "pinia"
import { useQuestionStore } from "@/stores/questions"
import { useAppStore } from "@/stores/app"

import { convertObjectArrayToNormalArray } from "@/utils/question-helpers"

import { Card } from "vue-shared"

import ValidationWarning from "@/components/ValidationWarning"
import QuestionAddFormOptions from "./QuestionAddFormOptions"
import QuestionAddFormScaleSelector from "./QuestionAddFormScaleSelector"
import QuestionAddFormPreview from "./QuestionAddFormPreview"

export default {
  name: "QuestionAddForm",
  components: {
    Card,
    QuestionAddFormOptions,
    QuestionAddFormScaleSelector,
    QuestionAddFormPreview,
    ValidationWarning,
  },
  computed: {
    ...mapStores(useQuestionStore, useAppStore),

    dialogTitle() {
      switch (this.questionStore.dialogState) {
        case "UPDATE":
          return `Frage bearbeiten - ${
            this.questionStore.questionTypeMap[this.questionStore.pendingQuestion.questionType]
          }:`
        case "CREATE":
          return `Frage hinzufügen - ${
            this.questionStore.questionTypeMap[this.questionStore.pendingQuestion.questionType]
          }:`
      }
    },
  },
  watch: {
    "questionStore.pendingQuestion.questionText": {
      deep: true,
      handler() {
        this.questionStore.showMissingQuestionTextMsg = false
      },
    },
    "questionStore.pendingQuestion.optionsForm": {
      deep: true,
      handler() {
        this.resetMissingOptionsMessages()
        this.convertOptionsFormForPreview(this.questionStore.pendingQuestion)
      },
    },
    "questionStore.pendingQuestion.scaleForm": {
      deep: true,
      handler() {
        this.resetMissingOptionsMessages()
        this.convertOptionsFormForPreview(this.questionStore.pendingQuestion)
      },
    },
  },
  methods: {
    resetMissingOptionsMessages() {
      this.questionStore.showMissingOptionTextMsg = false
      this.questionStore.showMissingOptionsMsg = false
    },
    convertOptionsFormForPreview(question) {
      // Converts the optionsForm object-array [{value: "..."},] into a string-array ["...",] so the Card component can handle it
      if (question.optionsForm) {
        question.options = JSON.stringify(convertObjectArrayToNormalArray(question.optionsForm))
      } else if (question.scaleForm) {
        question.scale = JSON.stringify(convertObjectArrayToNormalArray(question.scaleForm))
      }
    },
    openMediaManager() {
      this.appStore.toggleMediaManager({
        context: "fragen",
        card: this.questionStore.wrappedPendingQuestion,
      })
    },
  },
}
</script>

<style lang="scss" scoped>
.question-dialog {
  margin-bottom: 10vh;
  max-width: 1400px;

  .question-dialog-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .question-dialog-form {
      width: 660px;
      margin-left: 30px;
      margin-bottom: 1rem;
    }
  }
}
</style>
