<template>
  <el-table
    :data="questionStore.questions"
    ref="dragTable"
    row-key="id"
    fit
    style="width: 100%; margin-bottom: 1rem"
  >
    <el-table-column align="center" label="Position" width="100px">
      <template slot-scope="scope">
        <svg-icon class="drag-handler" icon-class="drag" />
        {{ scope.$index + 1 }}
      </template>
    </el-table-column>

    <el-table-column min-width="250px" label="Frage">
      <template slot-scope="scope">
        <div @click="questionStore.handleEditQuestion(scope.row)">
          {{ scope.row.questionText }}
        </div>
      </template>
    </el-table-column>

    <el-table-column align="right" min-width="80px" label="Typ">
      <template slot-scope="scope">
        <div @click="questionStore.handleEditQuestion(scope.row)">
          {{ questionStore.questionTypeMap[scope.row.questionType] }}
        </div>
      </template>
    </el-table-column>

    <el-table-column width="65px">
      <template slot-scope="scope">
        <el-button
          @click="questionStore.handleEditQuestion(scope.row)"
          size="mini"
          icon="el-icon-edit"
        ></el-button>
      </template>
    </el-table-column>
    <el-table-column width="65px">
      <template slot-scope="scope">
        <el-button
          @click="questionStore.deleteQuestion(scope.row.id)"
          plain
          size="mini"
          type="danger"
          icon="el-icon-delete"
        ></el-button>
      </template>
    </el-table-column>
  </el-table>
</template>

<script>
import { mapStores } from "pinia"
import { useQuestionStore } from "@/stores/questions"
import { usePollStore } from "@/stores/polls"

export default {
  name: "QuestionList",
  components: {},
  computed: {
    ...mapStores(useQuestionStore),
  },
  data() {
    return {}
  },
  methods: {},
  beforeMount() {
    this.questionStore.fetchQuestionsByPoll(usePollStore().activePoll.id)

    this.$nextTick(() => {
      const element = this.$refs.dragTable.$el.querySelectorAll(
        ".el-table__body-wrapper > table > tbody"
      )[0]
      this.questionStore.enableQuestionSorting(element)
    })
  },
}
</script>

<style lang="scss" scoped>
.sortable-ghost {
  opacity: 0.8;
  color: #fff !important;
  background: #42b983 !important;
}

.drag-handler {
  color: #bfcbd9;
  margin-right: 24px;
  width: 14px;
  height: 14px;
  cursor: pointer;
}
</style>
