<!-- templates/registration/password_reset_form.html -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
<title>{% block title %}Passwort vergessen?{% endblock %}</title>

{% block content %}
<h1>Passwort vergessen?</h1>
<p>Gib deine E-Mail Adresse ein, um einen Link zum Zurücksetzen deines Passwortes zu erhalten</p>

<form method="POST">
  {% csrf_token %}
  <div class="form-items-container">
    {{ form }}
  </div>
  <button type="submit">Senden</button>
  
</form>
<a href="{% url 'admin' %}" style="margin-top: 1rem">Zurück</a>
{% endblock %}

<script>document.getElementById("id_email").placeholder = "E-Mail Adresse";</script>