<title>askit Passwort zurücksetzen</title>
{% include "emails/email_header.html" %}

<body style="font-family: 'Open Sans', sans-serif; margin: auto; color: #323232">
  <div style="max-width: 540px; margin-left: 5%">
    <h2 style="margin: 2.5rem 0 1.5rem 0; hyphens: auto;">askit Passwort zurücksetzen</h2>
    Hallo <strong>{% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user }}{% endif %}</strong>,

    <p>du erhältst diese E-Mail, da du oder jemand anderes die Passwort zurücksetzen funktion für dein askit-Account benutzt hat. 
      Falls du das Passwort nicht zurücksetzen wolltest ignoriere diese Email einfach.
    </p>

    <p>Ansonsten klicke auf den folgenden Link, um dein Passwort neu zu setzen:</p>
    <a rel="noreferrer" href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uid token %}" style="
      padding: 0.75rem 4rem 0.75rem 4rem;
      margin-top: 2rem;
      width: 200px;
      border: none;
      outline: none;
      font-weight: 600;
      font-size: 1rem;
      border-radius: 8px;
      background: #6662F0;
      color: #fff;
      cursor: pointer;
      text-decoration: none;
      ">
      Passwort zurücksetzen
    </a>
    <br><br>
    <p>Zur Erinnerung, dein Nutzername lautet: <strong>{{ user.get_username }}</strong></p>

    <p>Falls du noch weitere Fragen hast, schau am besten auf unserer <a href="https://askit-app.de/faq/"
        style="color: #6662F0">FAQ und Hilfeseite</a> vorbei oder schreib uns direkt an.</p>

    <p>
      Alles Liebe,<br>
      Dein askit Team
    </p>

  </div>
</body>
{% include "emails/email_footer.html" %}

<style>
  div {
    margin: 0;
    padding: 0;
  }
</style>

</html>