<template>
  <div class="pollcode-prompt-container">
    <div @click="handleManagePolls" class="pollcode-prompt-admin-btn">
      Anmelden <i class="sl-icon icon-login"></i>
    </div>
    <BaseParagraph style="width: 80%">{{ $t("pollcode-input.cta") }}</BaseParagraph>
    <input
      @input="pollAppStore.code.showPollCodeInvalidMessage = false"
      v-model="pollAppStore.code.pendingPollCode"
      autocomplete="off"
      @focus="inputIsFocused = true"
      class="modal-input"
      maxlength="5"
      minlength="5"
      spellcheck="false"
      autocapitalize="off"
    />
    <BaseParagraph style="color: #f56c6c" v-if="pollAppStore.code.showPollCodeInvalidMessage">{{
      $t("pollcode-input.error", [pollAppStore.code.pendingPollCode])
    }}</BaseParagraph>
    <BaseButton class="pollcode-btn" @click="sendPollCode">{{
      $t("pollcode-input.btn-send")
    }}</BaseButton>
  </div>
</template>

<script>
import { mapStores } from "pinia"
import { usePollAppStore } from "@/stores/poll"

export default {
  name: "WelcomeScreenCodePrompt",
  components: {},
  data() {
    return {
      codeLength: 5,
    }
  },
  computed: {
    ...mapStores(usePollAppStore),
  },
  methods: {
    handleManagePolls() {
      if (process.env.VUE_APP_URL == "http://5.75.249.107:8080/") {
        window.open("http://5.75.249.107:9528/", "_blank").focus()
      } else {
        window.open(process.env.VUE_APP_URL + "admin/", "_blank").focus()
      }
    },
    sendPollCode() {
      if (this.pollAppStore.code.pendingPollCode.length < this.pollAppStore.code.minCodeLength) {
        this.pollAppStore.code.showPollCodeInvalidMessage = true
        return
      }
      location.replace(process.env.VUE_APP_URL + this.pollAppStore.code.pendingPollCode)
    },
  },
}
</script>

<style lang="scss" scoped>
.pollcode-prompt-container {
  background: var(--secundary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  // padding: 0 10vw;
}

.pollcode-btn {
  font-size: 1rem;
  background: none !important;
}

.pollcode-prompt-admin-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  padding: 1rem 1rem;
  top: 0;
  right: 0;
  font-size: 1rem;
  cursor: pointer;
  color: #555;

  .sl-icon {
    color: #fff;
    margin-left: 6px;
  }
}
</style>
