<template>
  <Modal v-if="pollAppStore.tan.showTanForm == true" @close="pollAppStore.tan.showTanForm = false">
    <div class="modal-input-container tan">
      <BaseHeading
        v-if="!pollAppStore.tan.tanVerified"
        style="width: auto; font-weight: 600"
        :level="1"
      >
        TAN Eingabe (6 Ziffern)
      </BaseHeading>

      <input
        class="modal-input tan-input"
        v-if="!pollAppStore.tan.tanVerified"
        v-model="pollAppStore.tan.tanInput"
        :validation="{ hasError: errors.has('TAN') }"
        v-validate="{ required: true }"
        data-vv-delay="1200"
        type="string"
        name="TAN"
        autocomplete="off"
        placeholder="000000"
        @input="pollAppStore.tan.showTanUsedMessage = ''"
      />
      <BaseInputError v-show="errors.has('TAN')">{{ errors.first("TAN") }}</BaseInputError>
      <div v-if="pollAppStore.tan.showTanUsedMessage" class="modal-tan-invalid">
        {{ pollAppStore.tan.showTanUsedMessage == "USED" ? $t("tan.used") : $t("tan.invalid") }}
      </div>

      <BaseButton
        class="startscreen-btn"
        v-if="!pollAppStore.tan.tanVerified"
        style="margin-top: 0.5rem"
        :disabled="pollAppStore.tan.tanInput.length != 6"
        @click="pollAppStore.checkTan()"
      >
        {{ $t("navigation.btn-send") }}</BaseButton
      >
      <div v-if="pollAppStore.tan.tanVerified" class="tan-verification-status">
        <BaseHeading style="width: auto; font-weight: 600" :level="1">
          {{ $t("tan.valid") }}
        </BaseHeading>
        <div class="sl-icon icon-check"></div>
        <p>Du wirst jetzt weitergeleitet</p>
      </div>
    </div>
  </Modal>
</template>

<script>
import { mapStores } from "pinia"
import { usePollAppStore } from "@/stores/poll"

import { Modal } from "vue-shared"

export default {
  name: "WelcomeModalTan",
  components: { Modal },
  data() {
    return {}
  },
  computed: {
    ...mapStores(usePollAppStore),
  },
  methods: {},
}
</script>

<style lang="scss" scoped>
.tan-input {
  width: 80%;
}

.modal-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.tan {
  height: 100vh;
  display: flex;
  justify-content: center;
}
.tan-verification-status {
  text-align: center;

  .icon-check {
    margin: 1rem;
    font-size: 32vw;
    color: rgba(125, 211, 33, 0.75);
  }
}

.modal-tan-invalid {
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
  text-align: center;
  line-height: 1.2;
  width: 100%;
  color: red;
}
</style>
