<template>
  <div class="scroll-indicator-container">
    <div class="scroll"></div>
  </div>
</template>

<script>
export default {
  name: "scroll-indicator",
  props: ["showIndicator"],
  methods: {},
}
</script>

<style lang="scss" scoped>
.scroll-indicator-container {
  position: absolute;
  bottom: 0;
  z-index: 100;
}

.scroll {
  width: 52px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  animation: down 1.5s infinite;
  -webkit-animation: down 1.5s infinite;
  transition-timing-function: ease;

  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 18px;
    width: 15px;
    height: 15px;
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
    transform: rotate(-45deg);
  }
}

@keyframes down {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translateY(5px);
  }

  40% {
    transform: translate(0);
  }
}

@-webkit-keyframes down {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translateY(5px);
  }

  40% {
    transform: translate(0);
  }
}
</style>
