<template>
  <div>
    <div v-html="content" ref="startscreenInner" class="startscreen-inner"></div>
  </div>
</template>

<script>
export default {
  name: "startscreen-content",
  props: ["content"],
}
</script>

<style lang="scss" scoped>
.startscreen-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 16px;

  /deep/ img {
    max-height: 200px;
    max-width: 80%;
    border: 16px solid #fff;
    border-radius: 4px;
  }

  /deep/ p {
    margin: 0.75rem 0;
    font-size: 0.8rem;
  }
  /deep/ h1 {
    margin: 1.5rem 0 0.75rem 0;
    font-size: 32px;
  }

  /deep/ h2 {
    margin: 1.5rem 0 0.75rem 0;
    font-size: 1.25rem;
  }
}
</style>
