<template>
  <div class="end-msg">
    <div class="end-msg-header">{{ modalTitle }}</div>
    <RichTextEditor
      name="missingModal"
      class="end-msg-editor"
      ref="missingEditor"
      v-model="pollStore.activePoll[modalKey]"
      :editorToolbar="toolbar"
      :maxLength="250"
    />
    <div class="end-msg-preview">
      <ModalMissing v-if="name == 'missing'" v-bind="modalProps" />
      <ModalSuccess v-else-if="name == 'success'" v-bind="modalProps" />
    </div>
  </div>
</template>

<script>
import { mapStores } from "pinia"
import { usePollStore } from "@/stores/polls"

import { ModalMissing } from "vue-shared"
import { ModalSuccess } from "vue-shared"

import RichTextEditor from "@/components/RichTextEditor"

export default {
  name: "CompletionMessage",
  components: {
    ModalMissing,
    ModalSuccess,
    RichTextEditor,
  },
  props: {
    name: {
      type: String,
      required: true,
      validator: (propValue) => {
        return propValue == "missing" || propValue == "success"
      },
    },
  },
  data() {
    return {
      toolbar: [["bold", "italic"], ["link"], [{ script: "super" }]],
    }
  },
  computed: {
    ...mapStores(usePollStore),
    modalTitle() {
      if (this.name == "missing") {
        return "Wenn nicht alle Fragen beantwortet wurden"
      } else if (this.name == "success") {
        return "Wenn alle Fragen beantwortet wurden"
      }
    },
    modalKey() {
      if (this.name == "missing") {
        return "pollMissingModal"
      } else if (this.name == "success") {
        return "pollSuccessModal"
      }
    },
    modalProps() {
      return {
        poll: this.pollStore.activePoll,
        userAnswersByUser: [
          {
            question: {
              id: 1,
            },
            status: true,
          },
          {
            question: {
              id: 2,
            },
            status: true,
          },
          {
            question: {
              id: 3,
            },
            status: false,
          },
        ],
        pendingQuestions: 2,
        pendingMultipolls: false,
        activeCardId: 2,
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.end-poll-container {
  display: flex;
  align-items: flex-start;
  margin: 1rem 0 1rem 0;

  .end-poll-header {
    font-size: 1.17rem;
    font-weight: 600;
  }

  .absolute {
    position: absolute;
    top: 0;
  }
}
.end-msg {
  display: flex;
  width: 320px;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  position: relative;
  margin-right: 2rem;
}

.end-msg-header {
  width: 100%;
  font-weight: 500;
  font-size: 0.9rem;
  margin: 1.5rem 0 0.5rem 0.25rem;
}

.end-msg-editor {
  min-width: 320px;
  margin-bottom: 1rem;
}

.end-msg-preview {
  position: relative;
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 320px;
  min-width: 320px;
  min-height: 500px;
  max-height: 500px;
  word-break: normal;
  border-radius: 8px;
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.15);

  > * {
    padding-bottom: 1rem;
  }
}
</style>
